<div class="borderRadius paddingTopStyle paddingLeftStyle paddingRightStyle paddingBottomStyle" style="background-color: white;max-height: auto;">
	<div class="backGroundColor" style=" min-height:490px; max-height: auto;" id="calendarId">
		<center>
		<h2>Calendar</h2>
		</center>
<div id='loading' style='display:none'>loading...</div>
<div id='calendar'></div>

<button id='addNewEvent'>Add Event</button>
		
	</div>
</div>

<link href='js/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='js/fullcalendar/fullcalendar.print.css' rel='stylesheet' />
<script type="text/javascript" src='js/fullcalendar/fullcalendar.min.js'></script>
<script type="text/javascript" src='js/fullcalendar/gcal.js'></script>

<!-- Calender customize event Add and View used js -->
<script type="text/javascript" src='js/fullcalendar/calendarAddEvent.js'></script>
<script src='https://apis.google.com/js/client.js?onload=handleClientLoad'></script>

<script>

	$(document).ready(function() {
		//console.log('Called before fullcalendar load for : '+calendarId);
		//alert('Called before fullcalendar load for : '+calendarId);
		$('#addNewEvent').click(function() {
			makeRpcRequest();
		});
		var calUrl='http://www.google.com/calendar/feeds/ajug02s97nu6hisao14ermrohc@group.calendar.google.com/public/basic'
		alert('calUrl : '+calUrl);
		$('#calendar').fullCalendar({
		
			events: calUrl,
			
			eventClick: function(event) {
				// opens events in a popup window
				window.open(event.url, 'gcalevent', 'width=700,height=600');
				return false;
			},
			
			loading: function(bool) {
				if (bool) {
					//$('#loading').show();
				}else{
					//$('#loading').hide();
				}
			}
			
		});
		
	});

</script>
<style>

	.fc-widget-header, .fc-widget-content {
	border-bottom-color : #D6D6D6;
	border-top-color : #D6D6D6;
	border-left-color : #D6D6D6;
	border-right-color : #D6D6D6;
	}	
	#loading {
		position: absolute;
		top: 5px;
		right: 5px;
		}

	#calendar {
		width: 550px;
		height : 300px;
		margin: 0 auto;
		}

</style>