<div style="background-color: #DDDDDD; height:46%;margin-right:-30px;width:1010px;" class="col-md-12" id="crowdView">
<div class="backGroundColor" style="padding-top:1px;overflow: auto;height:88vh;margin-top:10px;width:114%">
<div class="col-md-10 listDivs" style="background-color: rgb(243, 243, 243);margin-top:25px;height:auto;">
	<div class="brand col-md-3" style="height:100%">
		<div class="thumbnail span" style="width:71%;margin-left:29px;margin-top:10px;"><img src=""  id="crowdprofileImg"  width="350" height="350"/>
	</div>
</div>
<div class="offset2 col-md-9" style="height:100%">
<div id="flName" style="font-family: Helvetica Neue;font-size:20px;margin-top:15px"></div>
<div id="crowdUserName" style="font-family: Helvetica Neue;font-size:20px;margin-top:12px"></div>
<div id="crowdDescription" class="" style="font-family: Helvetica Neue;font-size:14px;margin-top:14px;word-wrap: break-word;"></div>
<div style="margin-top:14px">
<a id="crowdUrl" style="font-family: Helvetica Neue;font-size:14px;margin-top:7px;color:blue;" target="_blank"></a>
</div>
</div>
</div>

<!--<div style="background-color: #EAEDEF;max-height: auto;">
<div class="backGroundColor" style=" min-height:550px; max-height: auto;">-->
	
<div class="userNoteForCrowd" id="crowdUser">

</div>
</div>

</div>
<!--</div>-->
<div id="moreActions" class="modal">
<div class="modal-dialog"  >
           <div class="modal-content">
	<div class="modal-header fontStyle"><span class="close" data-dismiss="modal"
		aria-hidden="true">&times;</span>
	</div>
	<div class="modal-body" style="height:330px;overflow:auto;" >
		<div id="content" class="col-md-9 fontStyle"></div>
		<div id="sideBar" class="col-md-3  fontStyle"></div>
	</div>
	</div>
	</div>
</div>

<div id="complaintReportModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
<div class="modal-dialog"  >
   <div class="modal-content">
	<div class="modalHeader">
		<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
		<h4 id="complaintReportLabel">Please let us know what you feel is inappropriate about this Note?</h4>
	</div>
	<div class="modalBody" >
		<div class="control-group">
<!-- 					<textarea class="control-label-text" id="userComplaint" style="font-size: 14px;height: 70px;margin-left: 1px; width: 96%;"></textarea> -->
<!-- 				<div id="userReportDialog" style="font-family: Helvetica Neue;font-size:14px;display:none" title="Basic dialog"><font color="red"></font></div> -->
		</div>
	</div>
	<div class="modalFooter">
		<button class="btn btn-success fontStyle" id="complaintReportYes" style="font-family: Helvetica Neue;">Send</button>
		<button class="btn btn-danger fontStyle" id="complaintReportNo" style="font-family: Helvetica Neue;">Cancel</button>
	</div>
</div>
</div>
</div>

<div class="modal" id="msgNewModalCrowd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
<div class="modal-dialog"  >
   <div class="modal-content">
	<div class="modal-header">
	</div>
	<div id="msg-modal-body-modal" class="modal-body"  style="height:60px;">
		<span id="msg-modal-message-modal"></span>
	</div>
	</div>
	</div>
</div>
<!--</div>
</div>-->

<div id="commentsDeletModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
<div class="modal-dialog" >
   <div class="modal-content">
	<div class="modalHeader">
		<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
		<h4 id="commentsDeletLabel">Delete Comment </h4>
	</div>
	<div class="modalBody">
		<div class="control-group">
			<label class="control-label" for="name">Are you sure to delete this comment?</label>
			
		</div>
	</div>
	<div class="modalFooter">
		<button class="modalBtn fontStyle" id="commentsDeletYes">Yes</button>
		<button class="modalBtn fontStyle" id="commentsDeletNo" >No</button>
	</div>
	</div>
	</div>
</div>

<link rel="stylesheet" href="css/help.css" ></link>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script src="js/models/crowd.js" type="text/javascript"></script> 
<script src="js/function/notesview.js" type="text/javascript"></script> 
<link rel="stylesheet" href="css/note.css" ></link>
<script>
$('#crowdUser').on('mouseenter','.noteDiv',function(){
	$(this).css({"background-color":"linear-gradient(to bottom, #A4A4A4 0%, #A4A4A4 100%) repeat scroll 0 0 transparent"});
});
$('#crowdUser').on('mouseleave','.noteDiv',function(){
	$(this).css({"background-color":"#F3F3F3"});
});	



</script>