<div style="background-color: #DDDDDD; margin-right:-30px;" id="crowdView">
<div id="crowd" class="backGroundColor" style="padding-top:1px;overflow: auto;height:88vh;margin-top:10px">

<div class="tabbable" style=""><!-- Only required for left/right tabs -->
<ul class="nav nav-tabs">
	<li class="active"><a href="#tab1" data-toggle="tab" onclick="javascript:newNotes('');" title="Click to view recently shared note" style="font-family: Helvetica Neue;font-size: 14px;">Recent Notes</a></li>
	<li><a href="#tab2" data-toggle="tab" onclick="javascript:fetchMostViewed();" title="Click to view most viewed note" style="font-family: Helvetica Neue;font-size: 14px;">Most Viewed</a></li>
	<li ><a href="#tab3" data-toggle="tab" onclick="javascript:voteLists();" title="Click to view most popular note" style="font-family: Helvetica Neue; font-size: 14px;">Most Popular</a></li>
	
	<!--<li><a href="#tab4" data-toggle="tab" onclick="javascript:featuresnote();">Features</a></li>-->
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<div class="row" id="mostDiv3">


<!--<div class="col-md-2">
 <input type="text" id="newNotedatepicker" class="input-small" onkeypress="return keypressnotallowed(event)" placeholder="Date"/>
</div>

-->
<div class="col-md-1"></div>
<div class="col-md-3">
<input type="text" id="searching" class="form-control search-query span9" placeholder="Search by Note" style=" border-radius:20px;margin-left:-60px;margin-top:20px" />
</div>
<div class="col-md-2"></div>

<div class="col-md-2"></div>

<div class="col-md-3" id="mostSubDiv3">

</div>
</div>
<div class="backGroundColor"
	style="padding-top: 1px;position: relative;"
	id="newNote">

</div>
</div>
<div class="tab-pane" id="tab2">
<div class="row" id="mostDiv2">
<div class="col-md-1"></div>

<div class="col-md-3">
<input type="text" id="searchingMostView" class="form-control search-query span9" placeholder="Search by Note" style=" border-radius:20px;margin-left:-60px;margin-top:20px" />
</div>
<div class="col-md-2"></div>
<div class="col-md-2"></div>

<div class="col-md-3" id="mostSubDiv2">

</div>
<!--<div class="col-md-2">
 <input type="text" id="mostVieweddatepicker" class="input-small" onkeypress="return keypressnotallowed(event)" placeholder="Date"/>
</div>
-->

</div>
<div style="padding-top: 1px;position: relative;"
	id="mostView">

</div>
</div>


<div class="tab-pane " id="tab3" >
<div class="row" id="mostDiv">
<div class="col-md-1"></div>
<div class="col-md-3">
<input type="text" id="searchingMostPopular" class="form-control search-query span9" placeholder="Search by Note" style=" border-radius:20px;margin-left:-60px;margin-top:20px"/>
</div>
<div class="col-md-2"></div>
<div class="col-md-2"></div>

<div class="col-md-3" id="mostSubDiv">


</div>

<!--<div class="col-md-2">
 <input type="text" id="mostPopulardatepicker" class="input-small"  onkeypress="return keypressnotallowed(event)" placeholder="Date"/>
</div>
-->



</div>
<div class="backGroundColor"
	style="padding-top: 1px; position: relative;"
	id="mostPopular">
	</div>
</div>

<!-- <div class="tab-pane" id="tab4">
<div class="row" id="features">
<div class="col-md-2"></div>
<div class="col-md-2"></div>
<div class="col-md-2"></div>

<div class="col-md-2">
 <input type="text" id="featuresdatepicker" class="input-small" placeholder="Date"/>
</div>

</div>
<div class="backGroundColor"
	style="padding-top: 1px; overflow: auto; position: relative;"
	id="featuresnote">

</div>
</div> -->
</div>
</div>
<div id="moreActions" class="modal">
<div class="modal-dialog"  >
           <div class="modal-content">
	<div class="modal-header fontStyle"><span class="close" data-dismiss="modal"
		aria-hidden="true">&times;</span>
	</div>
	<div class="modal-body" style="height:330px;overflow:auto;" >
		<div id="content" class="col-md-9 fontStyle"></div>
		<div id="sideBar" class="col-md-3  fontStyle"></div>
	</div>
	</div>
	</div>
</div>

<div class="modal" id="moveCopyWarning1" tabindex="-1" role="dialog"	aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header" style="position: relative; height:13px;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<span id="move-msg-header-col-md-11"></span>
			</div>
			<div id="move-msg-modal-body11" class="modal-body col-md-6">
				<span id="move-modal-message11"></span>
			</div>
			<div class="modal-footer" style="height:40px;">
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true" id="move-msgfooterbtn1">Close</button>
			</div>
		</div>
		</div>
		</div>
		
		
		
<div id="attachFileModel" class="modal">
<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header">
				<span class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</span>
				<h4>Attach Files</h4>
			</div>
			<div class="modal-body" style="max-height: 280px;overflow: auto; ">
				<div class="accordion myAccordion" id="accordion">
					<div class="accordion-group">
						<div class="accordion-heading my-accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseViewLesson">
							View Recorded Lesson
							</a>
						</div>
						<div id="collapseViewLesson" class="accordion-body collapse in">
							<div class="accordion-inner">
								<div class="row-fluid">
									<div id="viewRecordedLessonDiv">
										
										<ul class="nav nav-pills  nav-stacked" id="viewRecordedLesson" >
											
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading my-accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOtherFiles">
								Other Files
							</a>
						</div>
						<div id="collapseOtherFiles" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="row-fluid">
									<div id="viewOtherFilesDiv">
										<ul class="nav nav-pills  nav-stacked" id="viewOtherFiles" >
											
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="attachFile" class="btn btn-success" ><span class="glyphicon glyphicon-share white"/>  Attach</a>
				<a class="btn btn-danger js-modal-close" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>	
		
		
		
		<div class="modal" id="msgNewModalCrowd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header">
			</div>
			<div id="msg-modal-body-modal" class="modal-body"  style="height:60px;">
				<span id="msg-modal-message-modal"></span>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="complaintReportModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="complaintReportLabel">Please let us know what you feel is inappropriate about this Note?</h4>
			</div>
			<div class="modalBody" >
				<div class="control-group">
<!-- 					<textarea class="control-label-text" id="userComplaint" style="font-size: 14px;height: 70px;margin-left: 1px; width: 96%;"></textarea> -->
<!-- 				<div id="userReportDialog" style="font-family: Helvetica Neue;font-size:14px;display:none" title="Basic dialog"><font color="red"></font></div> -->
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="complaintReportYes" style="font-family: Helvetica Neue;">Send</button>
				<button class="btn btn-danger fontStyle" id="complaintReportNo" style="font-family: Helvetica Neue;">Cancel</button>
			</div>
		</div>
		</div>
		</div>
		
		
		
		<div id="complaintReportModalForComment" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="complaintReportLabel">Please let us know what you feel is inappropriate about this Note?</h4>
			</div>
			<div class="modalBody" >
				<div class="control-group">
<!-- 					<textarea class="control-label-text" id="userComplaint" style="font-size: 14px;height: 70px;margin-left: 1px; width: 96%;"></textarea> -->
<!-- 				<div id="userReportDialog" style="font-family: Helvetica Neue;font-size:14px;display:none" title="Basic dialog"><font color="red"></font></div> -->
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="reportYes" style="font-family: Helvetica Neue;">Send</button>
				<button class="btn btn-danger fontStyle"  id="reportCancel" style="font-family: Helvetica Neue;">Cancel</button>
			</div>
		</div>
		</div>
		</div>
		
		
		<div id="commentsDeletModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="commentsDeletLabel">Delete Comment</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Are you sure you want to delete this comment?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn" id="commentsDeletYes" style="font-family: Helvetica Neue;">Yes</button>
				<button class="modalBtn" id="commentsDeletNo" style="font-family: Helvetica Neue;">No</button>
			</div>
			</div>
			</div>
		</div>
</div>
</div>
<link rel="stylesheet" href="css/note.css" ></link>
<script src="js/models/crowd.js" type="text/javascript"></script> 
<script src="js/function/notesview.js" type="text/javascript"></script> 
<link href="css/jquery.fileupload-ui.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery.fileDownload.js"> </script>
<script type="text/javascript">
var tag = document.createElement('script');
 
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>