	<div id="mailmessagesmodal" class="modal hide fade modal-add myModalDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 100px;">
			<div class="modalHeader">
				<button type="button" class="modalHeaderClose" id="closeModel">&times;</button>
				<h3 id="myModalLabel">Add List</h3>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" class="modalName" id="modelName" placeholder="Name">
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn" id="newAdd">Add</button>
				<button class="modalBtnPrimary" id="cancelModel">Cancel</button>
			</div>
		</div>