<div style="background-color: #DDDDDD; margin-right:-30px;" id="HelpViews">
<div style="background-color: #DDDDDD;height:88vh;padding-top:1px;overflow: auto;margin-top:10px">
	<div class="backGroundColor" style="">
	<!--<script>
		$(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
	</script>
	-->
	<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<br><br><br>
<p align="left"class="help-message"><b>
We want to hear from you. Send us a message regarding any issues, feedback, comments or concerns and we will get back to you as soon as possible.
</b></p></div></div>

<form>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-5">
<h4 class="help-title">Feedback:</h4>	

</div></div>

<div class="row">
<div class="col-md-2"></div><div class="col-md-8">
<textarea class="control-label-text" id="userfeedback" onkeyup="countChar(this)" maxlength="600"></textarea>
</div>
</div>
<br>

<div class="row" >
<div class="col-md-2"></div>
<div class="col-md-5">
<font color="red">
<span id="limitChar" class="help-char-remaining" style="font-family: Helvetica Neue;font-size:14px;">600 characters remaining</span>
<p id="limitChar1" style="font-family: Helvetica Neue;font-size:14px;"></p>
</font>
</div>
</div>

<br>
<div class="row"class="help-button">
<div class="col-md-4">				
</div>
<div class="col-md-5"><a class="btn btn-medium btn-primary" id="helpSubmit" aria-hidden="true" style="font-family: Helvetica Neue;">Send</a> <a class="btn btn-medium btn-primary" id="helpCancel" aria-hidden="true" style="font-family: Helvetica Neue;">Cancel</a>
</div>
</div>

<br/>



<div class="row">
<div class="col-md-2"></div>
<div class="col-md-5">
<h4 class="help-title" style="font-size:18px;">Musicnote Tutorials:</h4>	

</div></div>



 <div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<div id="noVideoFound"style="display:none;"><font color="red">No File Exists</font></div>
<br><div class="panel-group myAccordion fontStyle" id="accordion">
<!-- <div id="accordianDiv"><div> -->

</div></div>  



<br/>
<br/>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<div id="helpGrid" style="margin-left:6px;margin-bottom:15px; display:none;"></div>
</div></div>
<br/>
<div class="row" align="center" style="font-family: Helvetica Neue;font-size:14px;">Version Beta 1.0.13 Oct/03/2014 10:00 AM</div>
<div class="row" align="center"><a href="useragreement.html" target="_blank">Terms of Service</a> and <a href="privacyPolicy.html" target="_blank">Privacy Policy</a></div>
</form>	



<div id="helpModal1" class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
	
		<div id="msg-modal-body1" class="modal-body" >
			<span id="modal-message1"></span>
		</div>

	</div>
	</div>
	</div>
	
	

	
</div>
</div>
</div>
<link rel="stylesheet" href="css/help.css" ></link>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script src="js/models/userFeedback.js" type="text/javascript"></script> 
