<div class="homeView">
<link href="../upgradecss/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
<div class="backGroundColor row-fluid " style="  max-height: auto;">
    <div class="span12 paddingLeftStyle">
   <!--	<div class="notesDiv">
		<form id="todo_form" method="POST" style="height: 15px;">
			<input type="text" id="todo_description" name="todo_description" placeholder="New Notes +" class="searchOption"/>
			<input type="submit" id="add_todo" style="visibility: hidden;"/>
		</form>
	<div class="todo_list notesListDiv" >
	</div>
	</div> -->
	
	<!-- <div class=row><div class="paddingLeftStyle welcomeMsgCss" id="welcomemsg" style="display:none;"><font color="green" style="font-family: Helvetica Neue;"><h3>Welcome to Musicnote</h3></font></div></div> -->
	
    <div class="paddingLeftStyle"><h3 style="font-family: Helvetica Neue;">Recent Activity</h3></div>
    
		
    
            </div>
            <div id="alertMessages" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader ">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;"></h4>
				
				<h4 class="alert-heading" style="color: #b94a48;"><strong>Welcome to Musicnote!</strong></h4><h4 class="alert-message" style="color: #b94a48;font-size:14px;"> Watch our Musicnote Overview video to get started making the most of the app right away. </h4>
            <p align="right">
              <button class="btn btn-success fontStyle" id="showMsgs" >Watch now <i class="icon-play icon-white"></i></button> <button class="btn btn-danger fontStyle" data-dismiss="modal">Go to App</button>
            </p>
			</div></div></div>
		</div>
    <div id="mailSharingModel" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 100px;">
			<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel">Information </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					
				</div>
			</div>
			<!-- <div class="modalFooter">
			<p><span class="span4"></span>
              	<span></span><a  class="btn mailSharingAcceptDecline" value="Accept">Accept</a> <a class="btn mailSharingAcceptDecline" value="Decline" data-dismiss="modal">Decline</a></span>
            	</p>
			</div> -->
		</div>	</div></div>
    
    
    <div id="recentActivity" class="recentActivityDiv" >
	<!-- <p>Practice the song Superstition by Stevie Wonder</p> 
	<p>REMINDER: Send Superstition link to Johnny Cash</p>
	<p>Lesson Change : Billy Martin changed lesson for 3/4/2013</p>
	<p>Paly E major chord progression</p>
	<p>Practice Autumn Leaves</p>
	<p>Recording of Lesson from 3/12/2013</p>
	<p>Autumn Leaves sheet music</p> -->
	</div>
    <div>
    
    </div>
    </div>
  <!--   <div class="span4">
    <div id="datepicker" class="paddingTopStyle"></div>
    <div class="datePickerOutput"><p id="dateoutput"></p></div>
	<div><b>Suggested Notes &nbsp;&nbsp;&nbsp;&nbsp;<a >More</a></b></div>
	<div class="suggestedDiv span12">
	<p>Teaching Students Chromatic Scales</p>
	<p>Atutmn leaves for guitar</p>
	<p>Superstition by Stevie Ray Vaughan</p>
	</div>
    </div> -->
   
<script src="js/function/homeview.js"></script>
<script src="js/collection/todayschedulecollection.js"></script>

</div>
			
            
          