<div class="borderRadius paddingTopStyle paddingLeftStyle paddingRightStyle paddingBottomStyle" style="background-color: white;max-height: auto;">
<div class="backGroundColor" style=" min-height:490px; max-height: auto;" id="invoiceId">
<center>
<h2>Invoice</h2>
</center>
<br/>
<div class="row-fluid">
<div class="span5" align="right">
<label id="studentLabel">Student</label>
</div>
<select  id="studentId" class="span2" onchange="javascript:getStudentName()">
</select>

</div>

<div class="row-fluid">
<div class="span11" align="right">
<div class="row-fluid">
<div class="span11" align="right">
<label>Invoice No : </label>
</div>
<div class="span1" align="left">
<label id="invoiceNo"></label>
</div>
</div>

<div class="row-fluid">
<div class="span11" align="right">
<label>Date :</label>
</div>
<div class="span1" align="left">
<label id="invoiceDate"></label>
</div>
</div>
</div>
</div>


<br/>
<div class="row-fluid">
<div class="span7">
<div class="row-fluid">
<div class="span2" align="left">
<label>Teacher</label>
<label>Address</label>
<label>Phone #   
</label>
</div>
<div class="span2">
<label id="teacherName"></label>
<label id="teacherAddress"></label>
<label id="teacherPhone"></label>
</div>
</div>
</div>

<div class="row-fluid">
<div class="span2" align="left">
<label>StudentName</label>
<label>Address</label>
<label>Phone #   
</label>   
</div>
<div class="span2" align="left">
<label id="studentName"> </label>
<label id="studentAddress"> &#160;</label>
<label id="studentPhone"> </label>
</div>
</div>
</div>

<br/>
<div class="bs-docs-example">
<table class="table table-striped table-bordered table-condensed" id="table">
<thead>
<tr>
<th>Description of work</th>
<th>Qty/Hrs</th>
<th>Unit Price</th>
<th>Amount</th>
</tr>
</thead>
<tr id="rows">
<td>
<div class="row-fluid">
<div class="span4">
<label><b>Sub Total</b></label>
</div>
</div>
</td>
<td colspan="2">
<div class="row-fluid">
<div class="span2">
<label id="qtyPriceId"></label>
</div>
</div>

</td>
<td>
<div class="row-fluid">
<div class="span2">
<label id="totalPriceId"></label>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div class="row-fluid">
<div class="span2" align="left">
<label>Discount</label>
</div>
</div>
</td>

<td>
<div class="row-fluid">
<div class="span4">
<input type="text" class="input-small" id="percentageAmount">
<label id="discountAmount"></label>
</div>
</div>

</td>
<td>

<div class="row-fluid">
<div class="span2" align="left">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" onclick="javascript:calculateAmount()" />
</div>
<div class="span2" align="left">
<label id="percetage">%</label>
</div>
<div class="span2" align="right">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" onclick="javascript:calculateAmount()"/>
</div>
<div class="span2" align="right">
<label id="amount">Amount</label>
</div>
</div>		 
</td>

<td>
<label id="grandTotalAmount"></label>
</td>
</tr>
<tr>
<td colspan="3">
<div class="row-fluid">
<div class="span4" align="left">
<label><b>Grand Total</B></label>
</div>
</div>
</td>
<td>
<label id="totalAmount"></label>
</td>
</tr>
<tr>
<td colspan="4">
  <span class="badge" onclick="javascript:fetchTeacher()"><i class="icon-plus" title="Add Row"></i> </span> 
</td>
</tr>

</table>
</div>


<div class="bs-docs-example">
<table class="table table-striped table-bordered table-condensed">
<tbody>
<tr>
<td>

<div class="row-fluid">
<div class="span4" align="left">
<label>Payment Terms
</label>
</div>
<div class="span1" align="right">
<input type="text" class="input-small" id="paymentTerm">
</div>
<div class="span1" align="right">
<label id="paymentTerm1"></label>
</div>
</div>

<div class="row-fluid">
<div class="span4" align="left">
<label>To be made payble to [Name]
</label>
</div>
<div class="span1" align="right">
<input type="text" class="input-small" id="paybleTerm">
</div>
<div class="span1" align="right">
<label id="paybleTerm1"></label>

</div>
</div>
</td>
<td>

<div class="row-fluid">
<div class="span4" align="left">
<label>Approved by  
</label>
</div>
<div class="span1" align="right">
<input type="text" class="input-small" id="approvedTerm">
</div>
<div class="span1" align="right">
<label id="approvedTerm1"></label>
</div>
</div>

<div class="row-fluid">
<div class="span4" align="left">
<label>Name 
</label>
</div>
<div class="span1" align="right">
<input type="text" class="input-small" id="nameTerm">
</div>
<div class="span1" align="right">
<label id="nameTerm1"></label>
</div>
</div>

<div class="row-fluid">
<div class="span4" align="left">
<label>For 
</label>
</div>
<div class="span1" align="right">
<input type="text" class="input-small" id="forTerm">
</div>
<div class="span1" align="right">
<label id="forTerm1"></label>
</div>
</div>


<div class="row-fluid">
<div class="span4" align="left">
<label>Date 
</label>
</div>
<div class="span1" align="right">
<input type="text" class="input-small" id="dateTerm">
</div>
<div class="span1" align="right">
<label id="dateTerm1"></label>
</div>
</div>
</td>
</tr>
<tr>
<td colspan="2">
<center><input type="text" id="feedbackId" value="Thank you for your feedback"><label id="feedbacksId"></label>
</center>
</td>
</tr>
</tbody>
</table>
</div>
<div align="center"><input type="button" value="print"  id="simplePrint" onclick="javascript:printDiv('invoiceId')"></input></div>
</div>
</div>
