<div class="container-fluid headerBody paddingRightStyle">

</div>
<div class="container-login" id="loginContainer">
<form id="bridgeForm" action="#" target="loginframe" autocomplete="on" method="post">

<div class="form-signin">
<div class="col-md-11 pagination paddingTopStyle" ><a target="_blank" href="https://www.musicnoteapp.com"><img  src="pics/logo.png"></a>
			
</div>
<span class="form-signin-heading" id="signinspan" style="font-family: Helvetica Neue;font-size:14px;">Sign In</span>
 <input	id="username" name="uname" style="font-family: Helvetica Neue;font-size:14px;" type="text" class="form-control loginPasswd" placeholder="Enter User Name" />
 <input id="password" name="pass"  style="font-family: Helvetica Neue;font-size:14px;" type="password" class="form-control loginPasswd" placeholder="Enter Password" /> 
 
 <a  id="forgotpasswordId" style="font-family: Helvetica Neue;font-size:14px;">Forgot Password </a> <br/><br> 
 <a href="#registration" id="register_trial" style="font-family: Helvetica Neue;font-size:14px;">Sign Up</a><br/></br>
 <input class="btn btn-medium btn-primary" type="submit" value="Login" font style="font-family: Helvetica Neue;font-size:14px;" name="Submit" id="userLogin"/> <font style="font-family: Helvetica Neue;font-size:14px;">OR</font> <a style="text-decoration: none;font-family: Helvetica Neue;font-size:14px;" id="forgotpasswordId1">Sign In Using </a> 
 <!--  <fb:login-button autologoutlink="true"></fb:login-button> -->
 <div id="fb-root"></div>

<div id="status">
</div>
<div class="fb-login-button" data-max-rows="1" data-size="medium" onlogin="checkLoginState();" data-show-faces="false" data-auto-logout-link="false"></div>
 </div>
</form>
<iframe id="loginframe" name="loginframe" style="display:none"></iframe>


<div id="login" style="display: none"></div>
<div id="name"></div>


		 <div id="msgModal" class="modal  bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		 <div class="modal-dialog modal-sm" style="position: relative;">
    <div class="modal-content" >
		<div class="modal-header fontStyle" id="modalhead">
			<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
			<span id="msg-header-span"></span>
		</div>
		<div id="msg-modal-body" class="modal-body fontStyle">
		
			<span id="modal-message"></span>
			<select id="securitySelect"></select>
		</div>
		<div class="modal-footer" >
			<a id="fotgersubmit" class="btn btn-small btn-primary" style="font-family: Helvetica Neue;font-size:14px;" >Submit</a>
			<a id="fotgercancel" class="  btn-danger" role="button" data-dismiss="modal" aria-hidden="true" style="font-family: Helvetica Neue;font-size:14px;">Close</a>
		</div>
	</div>
	</div>
	</div>
</div>
<script>
(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=541136035945063&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
<script src="js/models/loginmodel.js"></script>