<script type="text/javascript">
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>
<link rel="stylesheet" href="css/note.css" ></link>
<link rel="stylesheet" href="css/note-button.css" ></link>
<link href="../upgradecss/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="js/jquery.fileDownload.js"> </script>
<link href="css/uploadfile.css" rel="stylesheet">

<script src="js/jquery.uploadfile.min.js"></script>
<div class=""	style="background-color: #DDDDDD;margin-right:-30px;margin-top:20px;" >
	<div class="backGroundColor" style="padding-top:1px;overflow:auto;overflow-x:hidden; position: relative; " id="notes">
	
	<div class="offset row paddingTopStyle" style="margin-left: 2px;" id="searchDiv"><div class="col-md-3" id="notesearch">
	</div>
	<div class="col-md-7" id="notebookcombo">
	</div>
	</div>
	
	
      <div id="addListModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
	   <div class="modal-dialog modal-sm">
            <div class="modal-content">	
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Add Notebook</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Name</label>
					<div class="controls">
						<input type="text" class="form-control modalName" id="modelName" placeholder="Enter Notebook Title" style="font-family: Helvetica Neue;">
						<label id="bookWarningId"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="newAdd">Add</button>
				<button class="modalBtnPrimary  fontStyle" id="cancelModel" data-dismiss="modal">Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div id="addBookModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog modal-sm">
            <div class="modal-content">	
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Add Notebook</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Name</label>
					<div class="controls">
						<input type="text" class="form-control modalName fontStyle" id="BookName" placeholder="Enter Notebook Title">
						<label id="noteBookWarningId"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="newAddBook">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelModel" data-dismiss="modal">Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="addCalenderListModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		   <div class="modal-dialog modal-sm">
            <div class="modal-content">	
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Add New Calendar</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Name</label>
					<div class="controls">
						<input type="text" class="form-control modalName" id="calenderName" placeholder="Enter Calendar Title" style="font-family: Helvetica Neue;">
						<label id="calenderWarningId"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="newAddCalender">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelModel" data-dismiss="modal">Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="addNoteModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		    <div class="modal-dialog modal-sm">
            <div class="modal-content">	
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel"style="font-family: Helvetica Neue;">Add New Note</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;font-weight: bold;">Name</label>
					<div class="form-group">
						<input type="text" class="form-control noteName" id="NoteName" style="font-family: Helvetica Neue;" placeholder="Enter note title" required>
						<label id="noteWarningId"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="newNoteAdd" >Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelModel" data-dismiss="modal" >Cancel</button>
			</div>
		</div>
		</div>
		</div>
		
		
		<div id="copyListModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		  <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeCopyListModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Add To Notebook</h4>
			</div>
			<div class="modalBody">
				<div class="form-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Name</label>
					<div class="controls">
						<input type="text" class="form-control modalName" id="copyListName" placeholder="Name" style="font-family: Helvetica Neue;width:50%">
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="copyCreate">Create Book</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="copyIndiviualModel" class="modal">
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 style="font-family: Helvetica Neue;">Share copy with Individual(s)</h4>
			</div>
			<div id="modal-copyPreviousMember">
			 <ul id="copyPreviousMember" class="nav nav-pills  nav-stacked" style="font-family: Helvetica Neue;"></ul>
			</div>
			<div class="modal-body">
			
				<div >
					<div class="row span">
						<ul id="selectCopyNoteIndiviual" class="span" style="font-family: Helvetica Neue;"></ul>
					</div>
					<div class="col-md-8">
						<div id="individualcopyDiv" class="" style="font-family: Helvetica Neue; font-size: 14px;font-color: red;"></div>
							<!--<div id="individualcopyDiv1" class="" style="dispaly:none"></div>-->
					</div>
				</div>
				</div>
			
			<div class="modal-footer">
				<a id="copyIndiviual" class="btn btn-success fontStyle">Share</a>
				<a id="copyCloseIndiviual" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="copyGroupModel" class="modal">
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 style="font-family: Helvetica Neue;">Share copy with Group(s)</h4>
			</div>
			<div id="modal-copyPreviousGroup">
			 <ul id="copyPreviousGroup" class="nav nav-pills  nav-stacked" style="font-family: Helvetica Neue;"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectCopyNoteGroups"  style="font-family: Helvetica Neue;"></ul>
					</div>
					<div class="col-md-4">
						<div id="groupcopyDiv" class="" style="font-family: Helvetica Neue; font-size: 14px;color:red;"></div>
							<!--<div id="individualcopyDiv1" class="" style="dispaly:none"></div>-->
					</div>
				</div>
			</div>
			
			<div class="modal-footer">
				<a id="copyGroups" class="btn btn-success fontStyle">Share</a>
				<a id="copyCloseGroups" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="moveAllNotes" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		   <div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="moveAllNotesModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Move All Notes in Book</h4>
			</div>
			<div class="modalBody">
			</div>
			</div>
			</div>
		</div>
		
		
		
		
		<div id="moveNotes" class="modal  fontStyle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modalHeader ">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="moveNotesModel">&times;</button>
				<h4 id="myModalLabel"></h4>
			</div>
			<div class="modalBody">
			</div>
			</div>
			</div>
		</div>
		
		
		
		
		<div id="memberModel" class="modal">
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 style="font-family: Helvetica Neue;">Share with Individual(s)</h4>
			</div>
			<div id="modal-previousEntry">
			 <ul id="previous" class="nav nav-pills  nav-stacked"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectNoteMembers" class="span" style="font-family: Helvetica Neue;"></ul>
					</div>
					<div class="col-md-5">
						<div id="shareindiviDiv" class="" style="font-family: Helvetica Neue; font-size: 14px;font-color: red;"></div>
							<!--<div id="individualcopyDiv1" class="" style="dispaly:none"></div>-->
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="addMembers" class="btn btn-success fontStyle">Share</a>
				<a id="closeMembers" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>	
		
			
		<div id="shareGroupModel" class="modal">
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 style="font-family: Helvetica Neue;">Share with Group(s)</h4>
			</div>
			<div id="modal-previousEntry">
			 <ul id="previousGroup" class="nav nav-pills  nav-stacked"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectNoteGroups" class="span" style="font-family: Helvetica Neue;"></ul>
					</div>
					<div class="col-md-8">
						<div id="sharegropDiv" class="" style="font-family: Helvetica Neue; font-size: 14px;font-color: red;"></div>
							<!--<div id="individualcopyDiv1" class="" style="dispaly:none"></div>-->
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="addGroups" class="btn btn-success fontStyle">Share</a>
				<a id="closeGroups" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="memberModelBook" class="modal">
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 style="font-family: Helvetica Neue;">Share with Individual(s)</h4>
			</div>
			<div id="book-previousEntry">
			 <ul id="previousMember" class="nav nav-pills  nav-stacked"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectBookMembers" class="span" style="font-family: Helvetica Neue;"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="addMembersToBook" class="btn btn-success fontStyle">Share</a>
				<a id="closeMembersToBook" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>
			
		
		<div id="shareGroupModelBook" class="modal">
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 style="font-family: Helvetica Neue;">Share with Group(s)</h4>
			</div>
			<div id="modalBook-previousEntry">
			 <ul id="previousBookGroup" class="nav nav-pills  nav-stacked" style="font-family: Helvetica Neue;"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectBookGroups" class="span" style="font-family: Helvetica Neue;"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="addGroupsToBook" class="btn btn-success fontStyle">Share</a>
				<a id="closeGroupsToBook" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>
		
		<div id="dueDateModel" class="modal bs-example-modal-sm datepick" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
	   <div class="modal-dialog modal-sm">
            <div class="modal-content">	
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 style="font-family: Helvetica Neue;">Due Date</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
				<div class="" id="dateErrorMsg"></div>
				<div class="form-group">
				<div class="input-group date form_datetime_dueDate" data-date="" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input2">
                    <input class="form-control" size="16" value="" class="form-control" onkeydown="return keypressnotallowed(event)" type="text" id="dueDate">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" /><br/>
                </div>
				</div>
        			
			</div>
			<div class="modal-footer">
				<a id="saveDueDate" class="btn btn-success fontStyle">Save</a>
				<a id="removeDueDate" class="btn btn-danger fontStyle">Remove</a>
			</div>
			</div>
			</div>
			
		</div>
		
		<div id="attachFileModel" class="modal">
		<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header">
				<span class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</span>
				<h4 style="font-family: Helvetica Neue;">Attach Files</h4>
			</div>
<div class="modal-body" style="max-height: 280px; overflow: auto;">
<div class="panel-group " id="accordion">
    <div class="panel panel-default hidden">
        <div class="panel-heading">
                <a class="panel-title"data-toggle="collapse" data-parent="#accordion" href="#collapseRecordLesson">
                <h4>
                  Record Video
                  </h4>
                </a>
        </div>
        <div id="collapseRecordLesson" class="panel-collapse collapse in">
            <div class="panel-body">
               <div class="row">
						<button id="recordVideo">Record Video</button> <br>
					</div>
					 <div class="row" id="uploadDiv">
						<input type="text" id="fileName"/> 
						<button id="uploadVideo" >Upload</button>
					</div>
					
					
					<div style="display:none" >
                 <h2>Record your voice!</h2>

                <button id="record-audio" class="btn btn-medium btn-primary fontStyle">Record Audio</button>
                <button id="stop-recording-audio" disabled class="btn btn-medium btn-primary  fontStyle">Stop Recording Audio</button>
                 <h2 id="audio-url-preview"></h2>

            </div>
            <br/>
            <br/>
            <div id="simpleModal">
                <video id="client-video" autoplay loop controls muted></video>
				
                <button id="record-video" class="fontStyle">Record Video</button>
                <button id="preview-video" class="fontStyle">Close Video</button>
                <button id="stop-recording-video" class="fontStyle" disabled>Stop Recording Video</button>
                 <h5 id="video-url-preview"></h5>
                
            </div>
				
                
				</div>
        </div>
    </div>
	
	<div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseAudioRecord" data-toggle="collapse" data-parent="#accordion">
                <a  class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseAudioRecord">
               	<h4>Record Audio</h4>
                </a>
        </div>
        <div id="collapseAudioRecord" class="panel-collapse collapse ">
            <div class="panel-body">
             
<div class="col-md-3" style="min-height: 180px;"><input type="image"
	src="img/MicrophoneHot.png" title="Click to record with mic"
	style="width: 40px; height: 30px;" id="recordwithmic" />
<div class="col-md-4" id="audio_recording" style="display: none;">
<applet
	code="recorder.CapturePlayback.class" archive="AppletRecorder.jar,httpcore-4.3.2.jar,httpmime-4.3.3.jar,commons-codec-1.6.jar,commons-logging-1.1.1.jar,httpclient-4.3.3.jar"  MAYSCRIPT 
	width="260" height="200">
	<param name="url" value="Noteprod">
	<param id="loginUserId" name="loginUserId" value="">
	<param id="loginListId" name="loginListId" value="">
	<param id="loginNoteId" name="loginNoteId" value="">
	<param id="loginNote" name="loginNote" value="note">
	<param id="token" name="token" value="">
	
	<script type="text/javascript">
	
		document.getElementById('loginUserId').value = userId;   
		document.getElementById('token').value = userTokens; 
</script>
</applet>
</div>
</div>
            </div>
        </div>
    </div>
	<div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseFileUpload" data-toggle="collapse" data-parent="#accordion">
            <div class="modal hide fade" id="uploadmsgModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	style="position: relative; width: 400px; left: 350px;">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">&times;</button>
<span id="msg-header-span"></span></div>
<div id="uploadmsg-modal-body" class="modal-body col-md-6"><span
	id="uploadmodal-message"></span></div>
<div class="modal-footer">
<button class="btn btn-default" data-dismiss="modal" aria-hidden="true"
	id="uploadmsgfooterbtn">Close</button>
</div>
</div>
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFileUpload">
                <h4>File Upload</h4>
                </a>
        </div>
        <div id="collapseFileUpload" class="panel-collapse collapse ">
            <div class="panel-body">
               <div class="row-fluid" id="noteuploaddiv" style="display: ;">
											
<div id="noteMultiUpload">Upload</div>
 
<script>
 
$(document).ready(function()
{
});
</script>	
				</div>
            </div>
        </div>
    </div>
    
    
    
    <div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseViewNoteLesson" data-toggle="collapse" data-parent="#accordion">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseViewNoteLesson">
                  <h4>My Recordings</h4>
                </a>
        </div>
        <div id="collapseViewNoteLesson" class="panel-collapse collapse ">
            <div class="panel-body">
               <div class="row-fluid">
						<div id="collapseViewNoteLessonDiv">
							
							<ul class="nav nav-pills  nav-stacked" id="viewNoteRecordedLesson" >
								
							</ul>
						</div>
					</div>
            </div>
        </div>
    </div>



<div class="panel panel-default">
<div class="panel-heading" data-target="#collapseUploadedFiles" data-toggle="collapse" data-parent="#accordion">
<a class="panel-title" data-toggle="collapse"
	data-parent="#accordion" href="#collapseUploadedFiles"> <h4>Attached
Files</h4> </a>
</div>
<div id="collapseUploadedFiles" class="panel-collapse collapse ">
<div class="panel-body">
<div class="row-fluid">
<div id="viewUploadedFilesDiv">
<ul class="nav nav-pills  nav-stacked fontStyle" id="viewUploadedFiles">

</ul>
</div>
</div>
</div>
</div>
</div>



<div class="panel panel-default">
<div class="panel-heading" data-target="#collapseOtherFiles" data-toggle="collapse" data-parent="#accordion">
<a class="panel-title" data-toggle="collapse"
	data-parent="#accordion" href="#collapseOtherFiles"> <h4>Uploaded Files</h4>
</a>
</div>
<div id="collapseOtherFiles" class="panel-collapse collapse ">
<div class="panel-body">
<div class="row-fluid">
<div class="downloadicon" id="downloadButton" style="display: none;">
<a id="downloadFile" class="btn btn-success fontStyle"
	webkitdirectory="" directory=""> <span
	class="glyphicon glyphicon-download-alt white"></span>
Download </a>
<div id="downloaderrormsg" style="display: none;"><font
	color="red">Please select atleast one file</font></div>
</div>
<div id="viewOtherFilesDiv">
<ul class="nav nav-pills  nav-stacked fontStyle" id="viewOtherFiles">

</ul>
</div>
</div>
</div>
</div>
</div>
</div>







			</div>
			<div class="modal-footer">
				<a id="attachFile" class="btn btn-success fontStyle" ><span class="glyphicon glyphicon-share white"/>  Attach</a>
				<a class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>	
		
		
		
		
			<div id="moreActions" class="modal">
			<div class="modal-dialog"  >
           <div class="modal-content">
				<div class="modal-header fontStyle ">
					<span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
				</div>
				<div class="modal-body" style="height:330px;overflow:auto;">
					<div id="content" class="col-md-9 fontStyle" >
					<div class="row col-md fontStyle" id="tagFilterDiv">
						<ul id="tagFilterUl" class="col-md"></ul>	</div>
					</div>
					<div id="sideBar" class="col-md-3 fontStyle">
					</div>
				</div>
				</div>
				</div>
			</div>
			
			
			
			
			<div id="shareAllContactModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
				<div class="modal-dialog"  style="width: 500px;">
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label id="allContact" class="control-label" for="name" style="font-family: Helvetica Neue;"></label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="memAllConYes">Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="memAllConNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div id="shareAllContactDelModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog"  style="min-width: 100px;">
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Are you sure you want to unshare this note with all contacts?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="memAllConDelYes" >Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="memAllConDelNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="copyToContactModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" style="min-width: 100px;" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">														
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Are you sure you want to share a copy of this note with all contact(s)?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="copAllConYes">With Comments</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="copAllConNo" data-dismiss="modal" aria-hidden="true">Without Comments</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="copyBookToContactModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
           <div class="modal-content">
		
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Are you sure want to Share this List to your contact Members?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="bookAllConYes">Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="bookAllConNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="commentsDeletModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="commentsDeletLabel" style="font-family: Helvetica Neue;">Delete Comment</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Are you sure to delete this comment?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="commentsDeletYes">Yes</button>
				<button class="modalBtn fontStyle" id="commentsDeletNo" >No</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="copyBookToContactDel" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Are you sure want to Remove the Book from your Contacts?</label>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="bookAllConDelYes">Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="bookAllDelConNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="scheduleEnable" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Are you sure want to Enable this List?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="enableYes">Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="enableNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="addScheduleModel" class="modal datepick" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">Add Event</h4>
			</div>
			
			<div class="modalBody" style="max-height:410px;">
				<div class="form-group">
				<div class="form-group">
					   <label class="control-label" for="name" style="font-family: Helvetica Neue;">Event name</label>
						<input type="text"  id="scheduleNoteName" style="font-family: Helvetica Neue;width:50%" class="form-control modalName"  placeholder="Event name" required />
						<div class="" id="scheduleNoteNames" style="dispaly:none"></div>
						</div>
					<label class="control-label" style="font-family: Helvetica Neue;">Description</label>
						<textarea id="scheduleNoteDetail" style="font-family: Helvetica Neue;width:50%" class="form-control modalName" placeholder="Event description" required >
						</textarea>
						<div class="" id="scheduleNoteDetails" style="dispaly:none"></div>
					<label class="control-label" style="font-family: Helvetica Neue;">Location</label>
						<input type="text"  id="scheduleLocation" style="font-family: Helvetica Neue;width:50%" class="form-control modalName"  placeholder="Location" required />
						<div class="" id="scheduleLocationDetail" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">All day Event &nbsp; <input type="checkbox" class="" style="font-family: Helvetica Neue;"  name="alldayevent" value="alldayevent" id="alldayevent" onclick="javascript:checkAllDay();" ></label><br>
						              		
						
						
						
						<label class="control-label" style="font-family: Helvetica Neue;">Start</label>      
						<div class="input-group date form_date_auto " id="estartDate"  data-date-format="M/dd/yyyy" data-link-field="dtp_input1" style="width: 50%">
                    <input class="form-control" size="16" type="text" value="" id="eventStartDate">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <div class="input-group date from_datetime_auto " id="estartDateTime" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1"style="width:50%">
                    <input class="form-control" size="16" type="text" value="" id="eventStartTime">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                		
                	<div class="" id="eventStartTimes" style="dispaly:none"></div>
                   
						<label class="control-label" style="font-family: Helvetica Neue;">End</label>
					<div class="input-group date end_date " id="eendDate"  data-date-format="M/dd/yyyy" data-link-field="dtp_input1" style="width: 50%">
                    <input class="form-control" size="16" type="text" value="" id="eventEndDate">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <div class="input-group date end_datetime " id="eendDateTime" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1"style="width:50%">
                    <input class="form-control" size="16" type="text" value="" id="eventEndTime">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                		
                <div class="" id="eventEndTimes" style="dispaly:none"></div>
                <div class="" id="eventBetweenDate" style="dispaly:none"></div>
                 <div class="" id="eventRepeatEventwarning" style="dispaly:none"></div>
                 
                 
                 <label class="control-label" style="font-family: Helvetica Neue;">Repeat</label>
                    		<select id="repeatEventId" class="form-control" style="font-family: Helvetica Neue;width:50%">
                    		<option value="--Select Repeat--" style="font-family: Helvetica Neue;">--Select Repeat--</option>
                    		<option value="Daily" style="font-family: Helvetica Neue;">Daily</option>
                    		<option value="Weekly" style="font-family: Helvetica Neue;">Weekly</option>
                    		<option value="Monthly" style="font-family: Helvetica Neue;">Monthly</option>
                    		</select>
                    		
                    	<div id="eventRepeatEndDate" style="display:none">	
                    	<label class="control-label" style="font-family: Helvetica Neue;">Repeat Until</label>
                    	
                    	<div class="input-group date repeat_date_auto " data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2" style="width:50%" id="eventRepeatsDate">
                    <input class="form-control" size="16" type="text" value="" id="eventRepeatDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
                		<div class="" id="eventRepeatDateWarningMsg" style="dispaly:none"></div>
                		<!--<div class="controls input-append date from_datetime_auto" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1" style="display:none;" id="estartDateTime" >
                    		<input size="16" type="text" value="" id="eventStartTime" class="input-block-level" required onkeydown="return keypressnotallowed(event)">
                    		<span class="add-on"><i class="glyphicon glyphicon-remove"></i></span>
							<span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                		</div>  
                		--></div>
                		<div id="eventMailCheckbox" style="display:none;">
                		<input type="checkbox" name="sendEventMailCheckbox" value="checked" id="sendEventMailCheckbox" ><font style="font-family: Helvetica Neue;">&nbsp&nbsp&nbsp&nbspSend E-mail.</font>
                		</div>
				</div>
				
			</div>
			<div class="modalFooter">
				<button class="btn btn-medium btn-primary fontStyle" id="addScheduleNote" style="font-size:14px;">Add</button>
				<a class="btn btn-medium btn-danger fontStyle" id="cancelScheduleNote">Cancel</a>
			</div>
			</div>
			</div>
		
		</div>
		
		<div id="editScheduleModel" class="modal datepick" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="editModalLabel" style="font-family: Helvetica Neue;">Edit Event</h4>
			</div>
			
			<div class="modalBody" style="max-height:400px;">
				<div class="form-group">
					<label class="control-label" id="eventID" for="name" style="font-family: Helvetica Neue;">Schedule Note</label>
						<input type="text"  id="editscheduleNoteName" class="form-control modalName" style="font-family: Helvetica Neue;width:50%" placeholder="Name" required />
							<div class="" id="editscheduleNoteNames" style="dispaly:none"></div>
					<label class="control-label" style="font-family: Helvetica Neue;">Description</label>
						<textarea  class="form-control modalName" style="font-family: Helvetica Neue;width:50%" id="editscheduleNoteDetail" required >
						</textarea>
					<div class="" id="editscheduleNoteDetails" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">Location</label>
						<input type="text"  style="font-family: Helvetica Neue;width:50%" id="editScheduleLocation" class="form-control modalName"  placeholder="Location" required />
						<div class="" id="editScheduleLocationDetail" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">All day Event &nbsp; <input type="checkbox" class="" style="font-family: Helvetica Neue;" name="alldayevent" value="alldayevent" id="editalldayevent" onclick="javascript:checkEditAllDay();" ></label><br>
					
					
						
						
						<label class="control-label" style="font-family: Helvetica Neue;">Start</label>
						<div class="input-group date from_datetime_auto " id="editstartTime" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1"  style="width:50%;">
                    <input class="form-control" size="16" type="text" value="" id="editeventStartTime">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
						<div class="input-group date form_date_auto col-md-5" data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2" id="editstartDate" style="display:none;width:50%">
                    <input class="form-control" size="16" type="text" value="" id="editeventStartDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                
                		<div class="" id="editeventStartTimes" style="dispaly:none"></div>	
						<label class="control-label" style="font-family: Helvetica Neue;">End</label>
					
						<div class="input-group date end_datetime " data-date="" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input2" id="editendTime" style="width:50%;">
                    <input class="form-control" size="16" type="text" value="" id="editeventEndTime"  onkeydown="return keypressnotallowed(event)" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
						<div class="input-group date end_date col-md-5" data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2" id="editendDate"  style="display:none;width:50%;">
                    <input class="form-control" size="16" type="text" value="" id="editeventEndDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
               			 	<div class="" id="editeventEndTimes" style="dispaly:none"></div>
               			 	<div class="" id="editeventBetweenDate" style="dispaly:none"></div>	
               			 	 <div class="" id="editEventRepeatEventwarning" style="dispaly:none"></div>	
               			 	 
               			 	 <label class="control-label" style="font-family: Helvetica Neue;">Repeat</label>
                    		<select id="editRepeatEventId" class="form-control modalName" style="font-family: Helvetica Neue;width:50%">
                    		<option value="--Select Repeat--" style="font-family: Helvetica Neue;">--Select Repeat--</option>
                    		<option value="Daily" style="font-family: Helvetica Neue;">Daily</option>
                    		<option value="Weekly" style="font-family: Helvetica Neue;">Weekly</option>
                    		<option value="Monthly" style="font-family: Helvetica Neue;">Monthly</option>
                    		</select>
                    		
                    	<div id="editEventRepeatEndDate" style="display:none">	
                    	<label class="control-label" style="font-family: Helvetica Neue;">Repeat Until</label>
                    	<div class="input-group date repeat_date_auto" data-date="" data-date-format="M/dd/yyyy" style="width:50%" data-link-field="dtp_input2"  id="editEventRepeatsDate">
                    <input class="form-control" size="16" type="text" value="" id="editEventRepeatDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
                		<div class="" id="editEventRepeatDateWarningMsg" style="dispaly:none"></div>	
                		</div>
                		<div id="editEventMailCheckbox" style="display:none;">
                		<input type="checkbox" name="sendEditEventMailCheckbox" value="checked" id="sendEditEventMailCheckbox"><font style="font-family: Helvetica Neue;">&nbsp&nbsp&nbsp&nbspSend E-mail.</font>
                		</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-medium btn-primary fontStyle" style="font-size:14px;"id="editScheduleNote" >Update</button>
				<a class="js-modal-close btn btn-medium btn-danger fontStyle" data-dismiss="modal" aria-hidden="true" id="editcancelScheduleNote">Cancel</a>
				
			</div>
			</div>
			</div>
			
		</div>
		<!-- Added by Veeraprathaban For schedule event edit  -->
		
		<div id="editSubEvent" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="editModalLabel" style="font-family: Helvetica Neue;">Edit Event</h4>
			</div>
			<div class="modalBody" style="max-height:400px;">
				<div class="control-group">
					<label class="control-label" id="eventID" for="name" style="font-family: Helvetica Neue;">Event Name</label>
						<input type="text"  id="editSubEventName" class="form-control modalName" style="font-family: Helvetica Neue;width:50%" placeholder="Name" required />
							<div class="" id="editSubEventNames" style="dispaly:none"></div>
					<label class="control-label" style="font-family: Helvetica Neue;">Description</label>
						<textarea class="form-control modalName" style="font-family: Helvetica Neue;width:50%" id="editSubEventDescription" required >
						</textarea>
					<div class="" id="editSubEventDescriptions" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">Location</label>
						<input type="text"  style="font-family: Helvetica Neue;width:50%" id="editSubEventLocation" class="form-control modalName"   placeholder="Location" required />
						<div class="" id="editSubEventLocations" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">All day Event &nbsp; <input type="checkbox" style="font-family: Helvetica Neue;" name="editSubEventAllDay" value="editSubEventAllDay" id="editSubEventAllDay" onclick="javascript:checkEditAllDay();" ></label></br>
											
						<label class="control-label" style="font-family: Helvetica Neue;">Start</label>
						<div class="input-group date from_datetime_auto" data-date="" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input2" id="editSubStartTime" style="width:50%">
                    <input class="form-control" size="16" type="text" value="" id="editSubEventStartTime" onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
						<div class="input-group date form_date_auto" data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2"  id="editSubStartDate" style="display:none;width:50%">
                    <input class="form-control" size="16" type="text" value="" id="editSubEventStartDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
                		
                		<div class="" id="editSubEventStartTimes" style="dispaly:none"></div>	
						<label class="control-label" style="font-family: Helvetica Neue;">End</label>
						
						<div class="input-group date end_datetime " data-date="" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input2"  id="editSubEndTime" style="width:50%">
                    <input class="form-control" size="16" type="text" value="" id="editSubEventEndTime"   onkeydown="return keypressnotallowed(event)"  >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
					
						<div class="input-group date end_date" data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2" id="editSubEndDate"  style="display:none;width:50%">
                    <input class="form-control" size="16" type="text" value=""  id="editSubEventEndDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                		
               			 	<div class="" id="editSubEventTimes" style="dispaly:none"></div>
               			 	<div class="" id="editSubEventBetweenDate" style="dispaly:none"></div>	
               			 	 <div class="" id="editSubEventRepeatEventwarning" style="dispaly:none"></div>	
                		<div id="editSubEventMailCheckbox" style="display:none;">
                		<input type="checkbox" name="editSubEventMailCheckbox" value="checked" id="editSubEventMailCheckbox"><font style="font-family: Helvetica Neue;">&nbsp&nbsp&nbsp&nbspSend E-mail.</font>
                		</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-medium btn-primary fontStyle" id="editSubEventSubmit" >Update</button>
				<a class="js-modal-close btn btn-medium btn-danger fontStyle" data-dismiss="modal" aria-hidden="true" id="editSubEventCancel">Cancel</a>
				
			</div>
			</div>
			</div>
			
		</div>
		
		
		<div id="editSubEventModel" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 200px;">
			 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="editModalLabel" style="font-family: Helvetica Neue;">Edit Event</h4>
			</div>
			
			<div class="modalBody">
			
					<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-2" style="FONT-WEIGHT: bold; font-family: Helvetica Neue;">Title</div>
					<div class="col-md-7" id="editViewSubEventName" style="font-family: Helvetica Neue;"></div>
					</div>
					<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-2" style="FONT-WEIGHT: bold; font-family: Helvetica Neue;">Start</div>
					<div class="col-md-5" id="editViewSubEventStart" style="font-family: Helvetica Neue;"></div>
					</div>
					<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-2" style="FONT-WEIGHT: bold; font-family: Helvetica Neue;">End</div>
					<div class="col-md-5" id="editViewSubEventEnd" style="font-family: Helvetica Neue;"></div>
					</div>
					<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-2" style="FONT-WEIGHT: bold; font-family: Helvetica Neue;"> All day</div>
					<div class="col-md-5" id="editViewSubEventAllDay" style="font-family: Helvetica Neue;"></div>
					</div>
					<br/>
					<div><b><a id="editSubEventClick" style="COLOR: #0080c0; font-family: Helvetica Neue;height:18px;float:left;">Edit event</a></b></div>
					<!-- <b><a id="deleteSubEventClick" style="COLOR: #0080c0; font-family: Helvetica Neue;height:18px;float:right;">Delete</a></b> -->
				
			</div>
			
			
		
</div>
</div></div>
		
		<!-- End  Veeraprathaban  schedule event edit changes -->
		
		<div id="viewScheduleModel" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">View Schedule Note</h4>
			</div>
			<div class="modalBody" style="overflow-y: scroll !important;overflow-x: hidden !important;">
			<div class="row">
			<div class="col-md-1" style="padding-top:10px;"></div>
			<div class="col-md-2"style="padding-top:10px;"><font style="font-family: Helvetica Neue;padding-top:10px;">Event Title </font> </div><div class="col-md-1"style="padding-top:10px;">:</div>
			<div class="col-md-6" id="viewScheduleTitle" style="font-family: Helvetica Neue;padding-top:10px;"></div>
			</div>
			<div class="row">
			<div class="col-md-1"style="padding-top:10px;"></div>
			<div class="col-md-2 "style="padding-top:10px;"><font style="font-family: Helvetica Neue;padding-top:10px;">Description</font>  </div><div class="col-md-1"style="padding-top:10px;">:</div>
			<div class="col-md-6 " style="max-height: 70px;overflow: auto;font-family: Helvetica Neue;padding-top:10px;" id="viewScheduleDesc" ></div>
			</div>
			<div class="row">
			<div class="col-md-1"style="padding-top:10px;"></div>
			<div class="col-md-2"style="padding-top:10px;"><font style="font-family: Helvetica Neue;padding-top:10px;">Location</font>  </div><div class="col-md-1"style="padding-top:10px;">:</div>
			<div class="col-md-6" id="viewScheduleLocation" style="font-family: Helvetica Neue;padding-top:10px;"></div>
			</div>
			<div class="row">
			<div class="col-md-1"style="padding-top:10px;padding-top:10px;"></div>
			<div class="col-md-2"style="padding-top:10px;"><font style="font-family: Helvetica Neue;padding-top:10px;">All Day</font>  </div><div class="col-md-1"style="padding-top:10px;">:</div>
			<div class="col-md-6" id="viewScheduleAllDay" style="font-family: Helvetica Neue;padding-top:10px;"></div>
			</div>
			<div class="row">
			<div class="col-md-1"style="padding-top:10px;"></div>
			<div class="col-md-2"style="padding-top:10px;"><font style="font-family: Helvetica Neue;padding-top:10px;">Start</font></div><div class="col-md-1"style="padding-top:10px;">:</div>
			<div class="col-md-6" id="viewScheduleStart" style="font-family: Helvetica Neue;padding-top:10px;"></div>
			</div>
			<div class="row" id="endrow">
			<div class="col-md-1"style="padding-top:10px;"></div>
			<div class="col-md-2"style="padding-top:10px;"><font style="font-family: Helvetica Neue;padding-top:10px;">End</font></div><div class="col-md-1"style="padding-top:10px;">:</div>
			<div class="col-md-6" id="viewScheduleEnd" style="font-family: Helvetica Neue;padding-top:10px;"></div>
			</div>
				
			<div class="row">
			<div class="col-md-1"style="padding-top:10px;"></div>
			<div class="col-md-2"style="padding-top:10px;"><font style="font-family: Helvetica Neue;padding-top:10px;">Repeat Event</font></div><div class="col-md-1"style="padding-top:10px;">:</div>
			<div class="col-md-6" id="viewScheduleRepeatEvent" style="font-family: Helvetica Neue;padding-top:10px;"></div>
			</div>
			
			<div class="row">
			<div class="col-md-1"style="padding-top:10px;"></div>
			<div class="col-md-2"style="padding-top:10px;"><font style="font-family: Helvetica Neue;padding-top:10px;">Repeat Until</font></div><div class="col-md-1"style="padding-top:10px;">:</div>
			<div class="col-md-6" id="viewScheduleRepeatEnd" style="font-family: Helvetica Neue;padding-top:10px;"></div>
			</div>	
				
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="okviewevent">OK</button>
			</div>
			</div>
			</div>
		</div>
			<div id="dialogcopy" title="Confirmation" style="display: none;">
			</div> 
			
			<div id="createTagModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
			 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel" style="font-family: Helvetica Neue;">Add Tag</h3>
			</div>
			<div class="modalBody">
				<div class="control-group">
				
				<div class="" id="errormsg"></div>
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Name</label> 
					<div class="controls">
						<input type="text" class="modalName col-md-7" id="tagName" style="font-family: Helvetica Neue;" placeholder="Name">
						<label id="tagWarningId"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="addTag">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelTag" data-dismiss="modal" >Cancel</button>
			</div>
			</div>
			</div>
			    
		</div>
		
		<div id="updateTagModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel" style="font-family: Helvetica Neue;">Update Tag</h3>
			</div>
			<div class="modalBody">
				<div class="control-group">
				<div class="" id="errormsg1"></div>
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Name</label>
					<div class="controls">
						<input type="text" class="modalName col-md-7" style="font-family: Helvetica Neue;" id="updateTagName" placeholder="Name">
						<label id="tagWarningIdEdit"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="editTag">Update</button>
				<button class="modalBtnPrimary fontStyle" id="updateTagModel" data-dismiss="modal" >Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="deleteTagModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				
				
				<h4 class="alert-heading" style="font-family: Helvetica Neue;">Sure you want to delete this Tag ?</h4>
               <p style="font-family: Helvetica Neue;">by deleting the tag the notes all associated with this tag will be removed automatically</p>
            <p>
              <a href="#" class="btn btn-danger fontStyle" id="deleteTag" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </p>
			</div>
			</div>
			</div>
			
		</div>
		
		
		
		<div id="addRemainderModal" class="modal  datepick" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" style="width: 400px; overflow:auto;">
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel" style="font-family: Helvetica Neue;">Add Reminder</h3>
			</div>
			<div class="modalBody"style="overflow-x:hidden;">
				<div class="form-group">
				<div class="row">
				    <div class="col-md-11">
					<label  for="name" style="font-family: Helvetica Neue;">Details </label>
					</div>
					<div class="col-md-2">
					<textarea style="max-height : 40px; margin: 0 0 5px 15px;font-family: Helvetica Neue;" type="text" class="form-control modalName-text col-md-9" id="remainderName" placeholder="Reminder details" required/>
					</textarea>
					</div>
					</div>	
					<div class="row">
				    <div class="col-md-11">		
					<label class="control-label" style="font-family: Helvetica Neue;">Event date</label>
					</div>
					<div class="col-md-8">
					<div class="input-group date form_datetime"  data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1" style="margin-left:15px;width:114%;">
                    <input class="form-control" size="16" type="text" value="" id="eventStartDate1" onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="dtp_input1" value="" /><br/>
					
                	</div>
					</div>	
					<div style="min-height:30px;display:none;" id="ReminderMailCheckbox">
						<span class="col-md-1"></span>
						<input id="sendReminderMailCheckbox" type="checkbox" value="checked" name="sendReminderMailCheckbox">
						<font style="font-family: Helvetica Neue;">Send E-mail.</font>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="addRemain">Add</button>
				<button class="btn btn-info fontStyle" id="cancelRemain" data-dismiss="modal" >Cancel</button>
			</div>
			</div>
			</div>
		</div>	    
		
		<div id="updateRemainderModal" class="modal datepick" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel" style="font-family: Helvetica Neue;">Update Reminder</h3>
			</div>
			<div class="modalBody" style="overflow-x:hidden;">
				<div class="form-group"><div class="row">
				<div class="col-md-11">
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Name </label></div>
					<div class="col-md-2">
					<textarea type="text" class="form-control modalName-text col-md-9" id="updateRemainderName" placeholder="Name" style="max-height : 40px;  margin: 0 0 5px 15px;font-family: Helvetica Neue;" required />
					</div>
					</div>	
					<div class="row"><div class="col-md-11">
					<label class="control-label" style="font-family: Helvetica Neue;" >Event date</label>
					</div>
					<div class="col-md-7">
					<div class="input-group date form_datetime"  data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1"style="margin-left:15px;width: 85%">
                    <input class="form-control" size="16" type="text" value="" id="updateStartDate" class="input-block-level" onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="dtp_input1" value="" /><br/>
					</div></div>
					<div style="min-height:30px;display:none;margin-left:-35px;" id="EditReminderMailCheckbox">
						<span class="col-md-1"></span>
						<input id="sendEditReminderMailCheckbox" type="checkbox" value="checked" name="sendEditReminderMailCheckbox">
						<font style="font-family: Helvetica Neue;">Send E-mail.</font>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="editRemaind" title="Update the reminder">Update</button>
				<button class="btn remaindIconDelete btn-danger fontStyle" id="deleteRemaind" title="Remove the reminder">Remove</button>
				<button class="btn btn-info fontStyle" id="cancleUpdateRemaind" data-dismiss="modal" >Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div id="deleteRemainderModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;"></h4>
				
				<h4 class="alert-heading" style="font-family: Helvetica Neue;">Are you sure you want to delete this reminder?</h4>
            <p>
              <a class="btn btn-danger fontStyle" id="deleteRemain" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default fontStyle" data-dismiss="modal">Cancel</a>
            </p>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div class="modal" id="moveCopyWarning" tabindex="-1" role="dialog"	aria-labelledby="myModalLabel" aria-hidden="true" >
		 <div class="modal-dialog" style="height:300px;">
           <div class="modal-content">
			<div class="modal-header " style="position: relative; height:15px;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<span id="move-msg-header-col-md-1"></span>
			</div>
			<div id="move-msg-modal-body1" style="height:10px;" class="modal-body" >
				<span id="move-modal-message1"></span>
			</div>
			<div class="modal-footer" style="height:65px;">
				<button class="btn btn-default fontStyle" data-dismiss="modal" aria-hidden="true" id="move-msgfooterbtn1">Close</button>
			</div>
		</div>
		</div>
		</div>
		
		<div id="shareWarning" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader ">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabelnote" class="share-note-warn" style="font-family: Helvetica Neue;"></h4>
            	<p><span class="col-md-4"></span>
              	<span></span><a  class="btn btn-default js-share" value="view">View only</a> <a class="btn btn-default js-share" value="edit" data-dismiss="modal">View & Edit</a></span>
            	</p>
			</div>
		</div>
		</div>
		</div>
		
		<div id="shareBookWarning" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader ">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabelbook" class="share-book-warn" style="font-family: Helvetica Neue;"></h4>
				
            	<p><span class="col-md-4"></span>
              	<span><a  class="btn btn-default js-share-book " value="view" >View only </a> <a class="btn btn-default js-share-book" value="edit" data-dismiss="modal">View & Edit</a></span>
            	</p>
			</div>
		</div>
		</div>
		</div>
		
		
		<div id="deleteBookModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				
				<h4 class="alert-heading delete-Book-warn" style="font-family: Helvetica Neue;"></h4>
            	<p>
              	<a  class="btn btn-danger js-delete-list" id="bookDelete" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="deleteAttachedModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
			
				<h4 class="alert-heading delete-Attach-warn"></h4>
            	<p>
              	<a  class="btn btn-danger js-delete-Attach" id="bookAttached" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="deleteNoteModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				
				<h4 class="alert-heading delete-Note-warn"  style="font-family: Helvetica Neue;"></h4>
            	<p>
              	<a  class="btn btn-danger js-delete-note" id="noteDelete" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="deleteAllNoteModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				
				<h4 class="alert-heading delete-All-warn"></h4>
            	<p>
              	<a  class="btn btn-danger js-delete-allNote" id="allNoteDelete" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		<div id="complaintReportModalForComment" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="complaintReportLabel">Please let us know what you feel is inappropriate about this Note?</h4>
			</div>
			<div class="modalBody" >
				<div class="control-group">
<!-- 					<textarea class="control-label-text" id="userComplaint" style="font-size: 14px;height: 70px;margin-left: 1px; width: 96%;"></textarea> -->
<!-- 				<div id="userReportDialog" style="font-family: Helvetica Neue;font-size:14px;display:none" title="Basic dialog"><font color="red"></font></div> -->
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="reportYesForNote" style="font-family: Helvetica Neue;">Send</button>
				<button class="btn btn-danger fontStyle"  id="reportCancel" style="font-family: Helvetica Neue;">Cancel</button>
			</div>
		</div>
		</div>
		</div>
		
		
		<div id="NotePublicShareModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closePubliShareModel">&times;</button>
				
				<h4 class="alert-heading Note-publicshare-warn" style="font-family: Helvetica Neue;"></h4>
				<div style="min-height:30px;">
				<input type="checkbox" name="publicShareWarnCheckbox" value="checked" id="publicShareWarnCheckbox"><font style="font-family: Helvetica Neue;">&nbsp;Do not show this message again.</font>
				</div>
            	<p>
              	<a  class="btn btn-success js-publicshare-note" id="publicShareNote" >Yes</a> <a class="btn btn-danger" data-dismiss="modal">No</a>
            	</p>
			</div>
		</div>
		</div>
		</div>
		
		<div id="deleteSubEventModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				
				<h4 class="alert-heading"  style="font-family: Helvetica Neue;">Do you want to delete this event ?</h4>
            	<p>
              	<a  class="btn btn-danger" id="subEventDelete" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div id="overLappingSubEventModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Edit recurring event </h4>
				<h4 class="alert-heading"  style="font-family: Helvetica Neue;">Would you like to change only this event or  all events in the series ?</h4>
            	<p>
              	<a  class="btn btn-default" id="onesubEvent" >Only this event</a> <a class="btn btn-default" data-dismiss="modal" id="wholeSubEvent">All events</a>
            	</p>
			</div>
		</div>
		</div>
		</div>
		
		
		<div id="overLappingAllDaySubEventModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		 <div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Edit recurring event </h4>
				<h4 class="alert-heading"  style="font-family: Helvetica Neue;">Would you like to change only this event or  following events in the series ?</h4>
            	<p>
              	<a  class="btn btn-default" id="onesubAllDayEvent" >Only this event</a> <a class="btn btn-default" data-dismiss="modal" id="followingSubEvent">Following events</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
					
		</div>
	</div>
	
<link rel='stylesheet' href='js/fullcalendar/theme.css' />
<link href='js/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='js/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='js/fullcalendar/fullcalendar.js'></script>
<script type="text/javascript" src="upgradejs/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="upgradejs/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<!-- Calender customize event Add and View used js -->
<script type="text/javascript" src='js/fullcalendar/calendarAddEvent.js'></script>
<script type="text/javascript" src='js/fullcalendar/calendarEvents.js'></script>

<!-- For refresh Today's schedule in the side bar to see todays events -->
<!--  <script src="js/collection/todayschedulecollection.js"></script>-->
<!--<script type="text/javascript" src='lib/jquery-ui.js'></script> -->

<script src="js/bootstrap-tooltip.js" ></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/function/notesview.js"></script>
<script src="js/function/loadnoteview.js"></script>
<script src="js/models/crowd.js" type="text/javascript"></script> 

<script type="text/javascript">

var t ;
$( document ).on(
    'mouseover',
    '#addScheduleModel', 
    function(){
        window.clearTimeout( t );
        t = window.setTimeout( function(){ 
            $('#eventRepeatsDate').datetimepicker('place')
            $('#estartDateTime').datetimepicker('place')
            $('#eendDateTime').datetimepicker('place')
        }, 50 );   
    }
);
$( document ).on(
	    'mouseover',
	    '#editScheduleModel', 
	    function(){
	        window.clearTimeout( t );
	        t = window.setTimeout( function(){ 
	            $('#editstartTime').datetimepicker('place')
	            $('#editendTime').datetimepicker('place')
	            $('#editEventRepeatsDate').datetimepicker('place')
	        }, 50 );   
	    }
	);
$('.form_date').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1,
    minView:2,
    maxView:4
   
});

$('.form_datetime').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
	showMeridian: 1
});

$('.form_datetime_dueDate').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  0,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1
});


$('.repeat_date_auto').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1,
    minView:2,
    maxView:4
   
}).on('changeDate', function (ev){

		var currentDate = new Date(ev.date);
		var hrs=0;
		var mins=0;
		var dates=new Date();
		
		var timeZoneDiff=currentDate.getTimezoneOffset();
		if(timeZoneDiff>=0){
		hrs=parseInt(timeZoneDiff/60);
		timeZoneDiff=timeZoneDiff%60;
		mins=timeZoneDiff;
		currentDate.setHours(currentDate.getHours()+hrs);
		currentDate.setMinutes(currentDate.getMinutes()+mins);
		}else{
			hrs=parseInt(timeZoneDiff/60);
			timeZoneDiff=timeZoneDiff%60;
			mins=timeZoneDiff;
			
			currentDate.setHours(currentDate.getHours()+hrs);
			currentDate.setMinutes(currentDate.getMinutes()+mins);
		
		}
	 	var day = currentDate.getDate();
  	 	var month = currentDate.getMonth() + 1;
   		var year = currentDate.getFullYear();
   		
   		if(day<10)
		{
			day="0"+day;
		}
   		var dateValue= month+ "/" + day + "/" + year ;

   		dateValue=convertNumberDateFormatIntoStringFormat(dateValue,true);
		
});

$('.form_date_auto').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1,
    minView:2,
    maxView:4
   
}).on('changeDate', function (ev){

		var currentDate = new Date(ev.date);
		var hrs=0;
		var mins=0;
		var dates=new Date();
		
		var timeZoneDiff=currentDate.getTimezoneOffset();
		if(timeZoneDiff>=0){
		hrs=parseInt(timeZoneDiff/60);
		timeZoneDiff=timeZoneDiff%60;
		mins=timeZoneDiff;
		currentDate.setHours(currentDate.getHours()+hrs);
		currentDate.setMinutes(currentDate.getMinutes()+mins);
		}else{
			hrs=parseInt(timeZoneDiff/60);
			timeZoneDiff=timeZoneDiff%60;
			mins=timeZoneDiff;
			
			currentDate.setHours(currentDate.getHours()+hrs);
			currentDate.setMinutes(currentDate.getMinutes()+mins);
		
		}
	 	var day = currentDate.getDate();
  	 	var month = currentDate.getMonth() + 1;
   		var year = currentDate.getFullYear();
   		
   		if(day<10)
		{
			day="0"+day;
		}
   		var dateValue= month+ "/" + day + "/" + year ;

   		dateValue=convertNumberDateFormatIntoStringFormat(dateValue,true);
   	 if(($('#eventEndDate').val()==null || $('#eventEndDate').val()=='') && $('#eventStartDate').val()!='')
			$('#eventEndDate').val(dateValue);
	 	 if(($('#editeventEndDate').val()==null || $('#editeventEndDate').val()=='') && $('#editeventStartDate').val()!='')
			$('#editeventEndDate').val(dateValue);
		  if(($('#editSubEventEndDate').val()==null || $('#editSubEventEndDate').val()=='') && $('#editSubEventStartDate').val()!='') 
			$('#editSubEventEndDate').val(dateValue);
});

$('.end_date').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1,
    minView:2,
    maxView:4
   
}).on('changeDate', function (ev){

		var currentDate = new Date(ev.date);
		var hrs=0;
		var mins=0;
		var dates=new Date();
		
		var timeZoneDiff=currentDate.getTimezoneOffset();
		if(timeZoneDiff>=0){
		hrs=parseInt(timeZoneDiff/60);
		timeZoneDiff=timeZoneDiff%60;
		mins=timeZoneDiff;
		currentDate.setHours(currentDate.getHours()+hrs-1);
		currentDate.setMinutes(currentDate.getMinutes()+mins);
		}else{
			hrs=parseInt(timeZoneDiff/60);
			timeZoneDiff=timeZoneDiff%60;
			mins=timeZoneDiff;
			
			currentDate.setHours(currentDate.getHours()+hrs-1);
			currentDate.setMinutes(currentDate.getMinutes()+mins);
		
		}
	 	var day = currentDate.getDate();
  	 	var month = currentDate.getMonth() + 1;
   		var year = currentDate.getFullYear();
   		
   		if(day<10)
		{
			day="0"+day;
		}
   		var dateValue= month+ "/" + day + "/" + year ;

   		dateValue=convertNumberDateFormatIntoStringFormat(dateValue,true);
   	 if(($('#eventStartDate').val()==null || $('#eventStartDate').val()=='') && $('#eventEndDate').val()!='') 
			$('#eventStartDate').val(dateValue);
		if(($('#editeventStartDate').val()==null || $('#editeventStartDate').val()=='') && $('#editeventEndDate').val()!='')
			$('#editeventStartDate').val(dateValue);
		if(($('#editSubEventStartDate').val()==null || $('#editSubEventStartDate').val()=='') && $('#editSubEventEndDate').val()!='')
			$('#editSubEventStartDate').val(dateValue);
});

$('.from_datetime_auto').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
	showMeridian: 1,
	
}).on('changeDate', function (ev) {
	console.log("event "+ev);
	var d = new Date(ev.date);
	var hrs=0;
	var mins=0;
	var dates=new Date();
	
	var timeZoneDiff=d.getTimezoneOffset();
	if(timeZoneDiff>=0){
	hrs=parseInt(timeZoneDiff/60);
	timeZoneDiff=timeZoneDiff%60;
	mins=timeZoneDiff;
	d.setHours(d.getHours()+hrs+1);
	d.setMinutes(d.getMinutes()+mins);
	}else{
		hrs=parseInt(timeZoneDiff/60);
		timeZoneDiff=timeZoneDiff%60;
		mins=timeZoneDiff;
		
		d.setHours(d.getHours()+hrs+1);
		d.setMinutes(d.getMinutes()+mins);
	
	}
	 var da;
	if(d.getDate()<10){
		da="0"+d.getDate();
		
	 }else{
		 da=d.getDate();
	 }
		
		
	if(d.getHours()<10){
		endingtime="0"+d.getHours();
		
	 }else{
		 endingtime=d.getHours();
	 }
	 var eventEndDate= (d.getMonth()+1)+"/"+da+"/"+d.getFullYear()+" "+endingtime+":"+d.getMinutes()+" ";
	 var endDate=convertNumberDateFormatIntoStringFormat2(eventEndDate,false);
	 if(($('#eventEndTime').val()==null || $('#eventEndTime').val()=='') && $('#eventStartTime').val()!='')
			$('#eventEndTime').val(endDate);
		if(($('#editeventEndTime').val()==null || $('#editeventEndTime').val()=='') && $('#editeventStartTime').val()!='') 
			$('#editeventEndTime').val(endDate);
		if(($('#editSubEventEndTime').val()==null || $('#editSubEventEndTime').val()=='') &&  $('#editSubEventStartTime').val()!='')
			$('#editSubEventEndTime').val(endDate);
	
	});

$('.end_datetime').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
	showMeridian: 1,
	
}).on('changeDate', function (ev) {
	console.log("event "+ev);
	var d = new Date(ev.date);
	var hrs=0;
	var mins=0;
	var dates=new Date();
	
	var timeZoneDiff=d.getTimezoneOffset();
	if(timeZoneDiff>=0){
	hrs=parseInt(timeZoneDiff/60);
	timeZoneDiff=timeZoneDiff%60;
	mins=timeZoneDiff;
	d.setHours(d.getHours()+hrs-1);
	d.setMinutes(d.getMinutes()+mins);
	}else{
		hrs=parseInt(timeZoneDiff/60);
		timeZoneDiff=timeZoneDiff%60;
		mins=timeZoneDiff;
		
		d.setHours(d.getHours()+hrs-1);
		d.setMinutes(d.getMinutes()+mins);
	
	}
	 var da;
	if(d.getDate()<10){
		da="0"+d.getDate();
		
	 }else{
		 da=d.getDate();
	 }
	
	 var eventEndDate= (d.getMonth()+1)+"/"+da+"/"+d.getFullYear()+" "+d.getHours()+":"+d.getMinutes()+" ";
	 var endDate=convertNumberDateFormatIntoStringFormat(eventEndDate,false);
	 //alert($('#eventStartTime').val())
	 if(($('#eventStartTime').val()==null || $('#eventStartTime').val()=='') && $('#eventEndTime').val()!='')
			$('#eventStartTime').val(endDate);
		 if(($('#editeventStartTime').val()==null || $('#editeventStartTime').val()=='') && $('#editeventEndTime').val()!='')
			$('#editeventStartTime').val(endDate);
		if(($('#editSubEventStartTime').val()==null || $('#editSubEventStartTime').val()=='') && $('#editSubEventEndTime').val()!='') 
			$('#editSubEventStartTime').val(endDate);
	
	});

function checkAllDay()
{
	var allDayEvent=$('input[name=alldayevent]').is(':checked');
    
	if(allDayEvent==true)
	{
		
		$("#eendDateTime").hide();
		$("#estartDateTime").hide();
		$("#eendDate").show();
		$("#estartDate").show();
		$('#eventStartTime').val("");
		$('#eventEndTime').val("");
		$('#eventStartDate').val("");
		$('#eventEndDate').val("");
		
	}
	else
	{
		$("#eendDate").hide();
		$("#estartDate").hide();
		$("#estartDateTime").show();
		$("#eendDateTime").show();
		$('#eventStartTime').val("");
		$('#eventEndTime').val("");
		$('#eventStartDate').val("");
		$('#eventEndDate').val("");
		
	}
}
function checkEditAllDay()
{
	var allDayEvent=$('input[id=editalldayevent]').is(':checked');
	var editSubEventAllDay=$('input[id=editSubEventAllDay]').is(':checked');
     
	if(allDayEvent==true)
	{
		$("#editstartTime").hide();
		$("#editendTime").hide();
		$("#editstartDate").show();
		$("#editendDate").show();
		$("#editeventStartDate").val("");
		$("#editeventEndDate").val("");
		$("#editeventStartTime").val("");
		$("#editeventEndTime").val("");
		
		}
	else
	{
		$("#editstartDate").hide();
		$("#editendDate").hide();
		$("#editstartTime").show();
		$("#editendTime").show();
		$('#editeventStartTime').val("");
		$('#editeventEndTime').val("");
		$('#editeventStartDate').val("");
		$('#editeventEndDate').val("");
		
		
	}

	if(editSubEventAllDay==true)
	{
		$("#editSubEventEndTime").val("");
		$("#editSubEventStartTime").val("");
		$("#editSubEventEndDate").val("");
		$("#editSubEventStartDate").val("");
		$("#editSubStartTime").hide();
		$("#editSubEndTime").hide();
		$("#editSubStartDate").show();
		$("#editSubEndDate").show();
	}
	else
	{
		$("#editSubEventEndTime").val("");
		$("#editSubEventStartTime").val("");
		$("#editSubEventEndDate").val("");
		$("#editSubEventStartDate").val("");
		$("#editSubStartTime").show();
		$("#editSubEndTime").show();
		$("#editSubStartDate").hide();
		$("#editSubEndDate").hide();
	}
}

function keypressnotallowed(event)
{
	return false;
}

$(document).ready(function() {
});

</script>

<style>

	.fc-widget-header, .fc-widget-content {
	border-bottom-color : #D6D6D6;
	border-top-color : #D6D6D6;
	border-left-color : #D6D6D6;
	border-right-color : #D6D6D6;
	}	
	#loading {
		position: absolute;
		top: 5px;
		right: 5px;
		}

	.fc-event-vert{
	
	}
</style>
