<div style="background-color: #DDDDDD;">
	<div class="backGroundColor">
	
	<script>
	 function validate() {

	        var option = $('#paymentViewOption').val();
	        var offer=$('#paymentViewOffer').val();
	        var amt=$('#payViewTotAmt').val();
	        var ret='';

	        if((option!='0-0' && option!=null && option!='' && option!='0') ||(offer!='0-0' && offer!=null && offer!='' && offer!='0'))
	        {
		        if(amt!='0' && amt!='' && amt!=null)
			        ret=true;
		        else
			        ret=false;
		        
	        }else{
		        ret=false;
	        }
	        
	        if(ret==false){
		    	   $('#error_msg1').attr('style','display:block;color:red;margin-bottom:15px;margin-left:-50%');
		       }
		       
	        return ret;

	    }
	</script>
	
<style>
#offerBox{
display:none;
}
.box {
  position: relative;
  padding: 5px;
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 5px #888;
  background-color:#D2D2D2;
}

.box:before, #box:after
{
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 0px;
  left: 0px;
  width: 45%; 
  height: 60%;
  top: 15px;
  max-width:300px;
  background: #888; 

  -webkit-box-shadow: -2px -15px 30px #888;   
  -moz-box-shadow: -2px -15px 30px #888;
  box-shadow: -2px -15px 30px #888;
}

.box:after
{ 
  right: 3px;
  left: auto;
  -webkit-box-shadow: 2px -15px 30px #888;   
  -moz-box-shadow: 2px -15px 30px #888;
  box-shadow: 2px -15px 30px #888;
  -webkit-transform: rotate(1deg);    
  -moz-transform: rotate(1deg);   
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}
.labelAlign{
margin-left:10%;
}
#note {
    background: url("images/note.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    border: 2px solid #A1A1A1;
    border-radius: 9px;
   
   	color: #6D896D;
    font-family: sans-serif;
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
	}
</style>
	
	<br>
	<br>
	<div class="col-12 col-sm-12 col-lg-5">
	<form class="form-horizontal" name="_xclick" action="https://www.sandbox.paypal.com/webscr" onsubmit="return validate()" method="post">
	<div class="control-group"style="margin-left:140px;" >
			<input type="radio" name="payment" value="normal" id="standardPay" style="color:white;" checked="checked">Standard Payment</input>
			<input type="radio"  name="payment" value="subscribe" id="subscriptionPay" style="color:white;margin-left:20px;">Subscription Payment</input>
   </div>
	
	
    <div class="control-group">
    <label class="control-label fontStyle labelAlign" for="offer">Available Offer</label>
    <div class="controls fontStyle">
    <select id="paymentViewOffer" class="input-block-level" style="font-family: Helvetica Neue;width:220px;">
    	<option value="0-0">None</option>
    </select>
    <div style="margin-left:82px;margin-bottom:15px;margin-top:15px;min-height:50px;max-height:450px;overflow:auto;max-width:200px;" class="box" id="viewEvents">
    	<div style="background-color:white;font-size:20px;" title="click to update your events" class="emailUpdate box" id="1"></div></div>
    </div>
     
    </div>
   
   <div class="control-group">
     <label class="control-label fontStyle labelAlign" id="subsriptionLabel" for="default">Subscription Option</label>
	<label class="control-label fontStyle labelAlign" id="paymentLabel" for="default">Payment Option</label>
    <div class="controls fontStyle">
    <select id="paymentViewOption" class="input-block-level" style="font-family: Helvetica Neue;width:220px;">
    	<option value="0-0">None</option>
    	<option value="5-30">$5-1Month</option>
		<option value="50-365">$50-1Year</option>
		
    </select>
    <textarea rows="1" cols="20" id="description" readonly="readonly" style="resize: none;margin-left: 27px;margin-top:10px;">

	</textarea>
    </div>
    </div>
    
   
    <div id="PaidCircles" style="margin-left:60px;margin-bottom:15px;"></div>
    
   
   <div class="control-group">
    <label class="control-label fontStyle labelAlign" for="inputEmail"><font style="color:red;">*</font>Pay For</label>
    <div class="controls fontStyle">
    <input type="text" id="payViewNo" value="0" readonly="readonly">
    </div>
    </div>
    
    <div class="control-group">
    <label class="control-label fontStyle labelAlign" for="inputEmail" id="totalAmount">Total-Amount $</label>
    <div class="controls fontStyle">
    <input type="text" id="payViewTotAmt" value="0" readonly="readonly">
    </div>
    </div>
    
   <div class="" align=center style="margin-bottom:10px;">
    <div id="error_msg1" Style="display:none;">* Please fill in the mandatory Fields </div>
    </div>
    
    <div class="control-group">
    <label class="control-label fontStyle"></label>
    <div class="controls fontStyle">
	<input type="hidden" name="cmd" id="cmd"value="_xclick">
	<input type="hidden" name="business" value="pgopinath-facilitator@nayasoft.in">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="item_name" value="Musicnote">
	<!--<input type="hidden" name="quantity" id="quantity">-->
	<input type="hidden" name="custom" id="payId">
	<input type="hidden" name="return" value="http://musicnoteapp.com:8080/musicnotetrial/index.html#home" id="">
	
	<input type="hidden" name="a3" id="a3"value="">
<input type="hidden" name="p3" id="p3"value="">
<input type="hidden" name="t3" id="t3"value="">
<input type="hidden" name="src" id="src"value="">
<input type="hidden" name="sra" id="sra"value="">
	
	
	<input name="notify_url" value="http://musicnoteapp.com:8080/mnTrialApi/mn1.0/payment/paymentFromPaypal" type="hidden">
	<input type="hidden" name="amount" id="amount" value="">
	<input id="paypalPayment" type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" style="margin-left:50px;">
	<input type="image" id="subscribeImage"src="http://www.sandbox.paypal.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" 
	alt="Make payments with PayPal - it's fast, free and secure!" style="margin-left:50px;">
	
	 </div>
	 </div>
	 
	 </br></br>
	 <div style="margin-left:115px;width:480px;"><h5 id="note">NOTE:You must sign up in Paypal.Otherwise you won't subscribe</h5></div>
</form>
	  </div>  
	</div>
</div>

<link rel="stylesheet" href="css/help.css" ></link>
<script src="js/models/paymentModel.js" type="text/javascript"></script> 