<div style="background-color: #EAEDEF;max-height: auto;">
<div class="backGroundColor" style=" min-height:550px; max-height: auto;">
   
<div id="profilemsgModal" class="modal  in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" >
    <div class="modal-content">

<!--<div class="modal-header">
<span id="profilemsg-header-span" class="fontStyle"></span></div>
--><div id="msg-modal-body" class="modal-body  fontStyle" ><span
	id="profilemodal-message" ></span></div>
	
	
	<div class="modalFooter">
<button class="btn btn-default" data-dismiss="modal" aria-hidden="true"
	id="profilemsgfooterbtn">Close</button>
</div>
</div>
</div>
</div>

<!--<ul class="nav nav-tabs" id="myTab">
	    <li class="active"><a href="#tab1-1" data-toggle="tab" >Personal Profile</a></li>  
	
</ul>


-->
<div id="alertMessagesPro" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 210px;">
			<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader ">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;"></h4>
				
				<h4 class="alert-heading" style="color: #b94a48;"><strong>Welcome to Musicnote!</strong></h4><h4 class="alert-message" style="color: #b94a48;font-size:14px;"> Watch our Musicnote Overview video to get started making the most of the app right away. </h4>
            <p align="right">
              <button class="btn btn-success fontStyle" id="showMsgsPro" >Watch now <i class="icon-play icon-white"></i></button> <button class="btn btn-danger fontStyle" data-dismiss="modal">Go to App</button>
            </p>
			</div></div></div>
		</div>

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-2">
<br/>
<h4 style="font-family: Helvetica Neue;font-size:14px;">Profile Information</h4>
</div>
</div>

<div class="col-md-3" id="personalinfo">


<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">First Name</font><input 	id="pfirstname" name="pfirstname" style="font-family: Helvetica Neue;font-size:14px;" type="text" class="form-control" required />


<div class="" id="pfirstnameDiv" style="display:none"></div> 
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Last Name</font><input 	id="plastname" name="plastname" type="text" style="font-family: Helvetica Neue;font-size:14px;"	class="form-control" placeholder="" required />
<div class="" id="plastnameDiv" style="display:none"></div>  

<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">User Name</font> <input id="fbusernames" name="fbusernames" disabled="disabled" style="font-family: Helvetica Neue;font-size:14px;" type="text" 	class="form-control" required  onblur="javascript:updateExistsUserName();"/> 
<div class="" id="fbusernamesDiv" style="display:none"></div> 
<div class="" id="ExistsfbusernamesDiv" style="display:none"></div>
 
<font color="red" id="pemailidfont">*</font><font id="emailfont" style="font-family: Helvetica Neue;font-size:14px;">Email</font> <input id="pemailid" name="pemailid" style="font-family: Helvetica Neue;font-size:14px;"	type="email" class="form-control" placeholder="" required onblur="javascript:updateMail();" />
<div class="" id="pemailidDiv" style="display:none"></div> 
<div class="" id="ExistspemailidDiv" style="display:none"></div> 
<div class="" id="ValidatepemailidDiv" style="display:none"></div>
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Favorite Genre</font><select id="pfavoriteGenre" style="font-family: Helvetica Neue;font-size:14px;"	class="form-control"></select>
<input id="tempemailid" name="tempemailid" 	type="hidden" class="form-control" placeholder="" />

<input type="radio" name="notesAccessFlag" id="notesAccessPrivateFlag" value="private" checked="checked" class="hidden"/>
<input type="radio" name="notesAccessFlag" id="notesAccessPublicFlag" value="public" class="hidden"/>
<br>


</div>
<div class=" col-md-1" id="personalinfo5" >
</div>

<div class=" col-md-3" id="personalinfo2" >


<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Time Zone</font><select id="ptimeZone" style="font-family: Helvetica Neue;font-size:14px;"	class="form-control"></select>

<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Primary Instrument</font><select id="pInstrument" style="font-family: Helvetica Neue;font-size:14px;"	class="form-control"></select>
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Skill Level</font><select id="pSkillLevel" style="font-family: Helvetica Neue;font-size:14px;"	class="form-control"></select>
<font style="font-family: Helvetica Neue;font-size:14px;margin-left:10px">Website</font><input 	id="urlId" name="url" type="text" style="font-family: Helvetica Neue;font-size:14px;"	class="form-control" placeholder="" required />


<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Disable Confirmation to sharing in Crowd</font><br/>
<input type="radio" name="crowdnotificationFlag" id="crowdnotificationYesFlag" value="True" checked="checked"/><font style="font-family: Helvetica Neue;"> Yes</font>
<input type="radio" name="crowdnotificationFlag" id="crowdnotificationNoFlag" value="False"/><font style="font-family: Helvetica Neue;"> No</font>

<div id="securityQuestion" class="profileSecurityQuestion"  style="display:none;">
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Security Question</font><select id="securitySelect" class="profileSecurity fontStyle" style="width:100%">
<option value="0">Select any Security Question</option>

</select>
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Answer</font></br><input type="text" required="" disabled="disabled" id="securityBox"  class=" fontStyle profileSecurityBox" style="width:100%"></input>
</div>
<div id="dialogempty1" title="Basic dialog" style="display:none">Field cannot be blank</div>

<div><label>
<input id="pnotificationMail" name="pnotificationList" value="notificationList" checked disabled  type="checkbox" />
I may recieve communications from musicnote and can change my <a id="pmailNotificationLists"><span id="pmailNotificationList">notification</span></a> preferences in musicnote
 </label>
</div>
</div>





<div class="col-md-1"></div>
<div class="col-md-2">
<div id="container">
	<div class="image" id="profileImg1" >
	<img src=""  id="profileImg"  width="100" height="100"/>
	<a href="#" class="deleteIcon icon-remove">X</a>
	</div>
</div>
<!--<div class="fileupload-new thumbnail"><img src=""  id="profileImg"  width="100" height="100"/>-->
<a href="#profile" id="editProfileview" style="font-family: Helvetica Neue;font-size:14px;">Change Picture</a>
</div>
<div class="col-md-1"></div>
<div class="col-md-4" style="margin-top:36px;">
<font style="font-family: Helvetica Neue;font-size:14px;margin-left:10px">Bio</font><textarea id="descriptionId" name="description"  style="font-family: Helvetica Neue;font-size:14px;" class="form-control" placeholder="" required maxlength="500" onkeyup="countChar(this)"/>
<font color="red">
<span id="bioVarning" class="help-char-remaining" style="font-family: Helvetica Neue;font-size:14px;"></span>
</font>
</div>


<div id="uploadProfileModal" class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">

			<div class="modal-header">
				<span class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="attachClose">&times;</span>
				<h4 style="font-family: Helvetica Neue;font-size:14px;">Attach Files</h4>
			</div>
<div class="accordion-inner">



<script type="text/javascript" src="js/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="js/jquery.form.js"></script>
<div class="wrap">
<div class="modalBody" style="max-height:410px;">
<img id="uploadPreview" style="display:none;" />
</div>

<form id="myForm" method="post" enctype="multipart/form-data" action="">
<input id="uploadImage" type="file"  name="uploadImage" style="margin-left:20px;"/>
<input type="hidden" id="x" name="x" value="0"/>
<input type="hidden" id="y" name="y" value="0"/>
<input type="hidden" id="w" name="w" value="0"/>
<input type="hidden" id="h" name="h" value="0"/>

<br></br>
<button type="submit" class="btn btn-primary start" style="margin-left:20px;"><i
	class="glyphicon glyphicon-upload white"></i> <span>Upload</span></button>


</form>

</div>
<div id="progress" style="display: none">
<div id="bar"></div>
<div id="percent" style="margin-left:20px">0%</div>
</div>
<br />

<div id="message"></div>

<script>


$(document).ready(function()
		{
			var extArray=['jpg','png','jpeg','tiff','jfif','jpe','gif','bmp','tif'];

			function file_get_ext(filename)
		    {
		    	return typeof filename != "undefined" ? filename.substring(filename.lastIndexOf(".")+1, filename.length).toLowerCase() : false;
		    }
		    
			var fileSizeFlag = false;
			$('#myForm').submit(function (){
				var file = document.getElementById('uploadImage').files[0];
				//alert(urlForServer + "user/updateProfileImg/"+userId+'/'+userTokens+'/'+$('#x').val()+'/'+$('#y').val()+'/'+$('#w').val()+'/'+$('#h').val());
				if(file!= undefined && file!=""){
					var ext = file_get_ext(file.name);
					if(extArray.indexOf(ext)!= -1){
						var fileSizeInKB = file.size / 1024;
						//if(fileSizeInKB > 10 && fileSizeInKB <30){
					     var v=new Image();
                          v.src=document.getElementById("uploadPreview").getAttribute('src');
						   if($('#w').val()>0 && $('#w').val()<200 && $('#h').val()>0 && $('#h').val()<200)	
						   {
							var action =  $('#myForm').attr('action');
						    $(this).attr('action',  urlForServer + "user/updateProfileImg/"+userId+'/'+$('#x').val()+'/'+$('#y').val()+'/'+$('#w').val()+'/'+$('#h').val()+'/'+musicnote);
						    fileSizeFlag = true;
						   }
						   else if($('#w').val()==0 &&  $('#h').val()==0 && v.width<200 && v.height<200)
						   {
							    var action =  $('#myForm').attr('action');
							    $(this).attr('action',  urlForServer + "user/updateProfileImg/"+userId+'/'+$('#x').val()+'/'+$('#y').val()+'/'+$('#w').val()+'/'+$('#h').val()+'/'+musicnote);
							    fileSizeFlag = true;  
						   }
						   else
						   {
							   fileSizeFlag=false;
								$('#uploadProfileModal').modal('show');
							    alert("please use crop image 200x200");
							    $("#spinner").attr('style','display:none;');
								$("#img-spinner").attr('style','display:none;');
						   }
						    
						//}else{
						//	fileSizeFlag = false;
							//$('#myfile').val('');
							//alert("upload file size between 10KB to 30KB");
						//}
					}else{
						fileSizeFlag = false;
						alert("upload file type of *.jpeg, *.jpg, *.bmp, *.tiff, *.png ");
					}
				}
				else
				{
					$("#spinner").attr('style','display:none;');
					$("#img-spinner").attr('style','display:none;');
					var action =  $('#myForm').attr('action');
				    $(this).attr('action',"");
					fileSizeFlag = false;
				}
				
			});
			
			
			var options = { 
		    beforeSend: function() 
		    {
			    if(fileSizeFlag){
		    		$("#progress").show();
		    		//clear everything
			    	$("#bar").width('0%');
			    	$("#message").html("");
					$("#percent").html("0%");
			    }
		    },
		    uploadProgress: function(event, position, total, percentComplete) 
		    {
		    	if(fileSizeFlag){
			    	$("#bar").width(percentComplete+'%');
			    	$("#percent").html(percentComplete+'%');
		    	}
		    },
		    success: function(response) 
		    {
		    	var x = JSON.parse(response);
		    	 
		    	if(x.status!=null && x.status=='error')
		    	{
		    		alert(x.status);
		    	}
		    	
		    	if(fileSizeFlag){
		    		$("#bar").width('100%');
			    	$("#percent").html('100%');
		    	}
		    	
		    },
			complete: function(response) 
			{
				
		    	if(fileSizeFlag){
					//$("#message").html("<font color='green'>"+response.responseText+"</font>");
		$('#uploadProfileModal').modal('hide');
		$(".imgareaselect-border4").attr("style","display:none;");
		$(".imgareaselect-border1").attr("style","display:none");
		$(".imgareaselect-border2").attr("style","display:none");
		$(".imgareaselect-border3").attr("style","display:none");
		$(".imgareaselect-outer").attr("style","display:none");
		
		
		$("#uploadImage").val("");
		$('#x').val("0");
		$('#y').val("0");
		$('#w').val("0");
		$('#h').val("0");
		var p = $("#uploadPreview");
		p.fadeOut();
		$("modal-backdrop").attr("style","display:none");; 
		$(".imgareaselect-outer").attr("style","display:none");
					
			    	//$("#move-msg-header-span1").attr('class',"label label-success").text("info");
					//$("#move-modal-message1").attr('class',"label label-success").text("  File Uploaded successfully");
					uploadedphoto();
		    	}
			},
			error: function()
			{
				//$("#message").html("<font color='red'> ERROR: unable to upload files</font>");

			}
			

			}; 
			
		    $("#myForm").ajaxForm(options);
			
		     
		})



</script></div>
</div>
</div>
</div>



</div>

<!--<div class="col-md-1"></div>
<div class="col-md-4" margin-top:35px;>
<font style="font-family: Helvetica Neue;font-size:14px;margin-left:10px">Bio</font><textarea id="descriptionId" name="description"  style="font-family: Helvetica Neue;font-size:14px;" class="form-control" placeholder="" required maxlength="140"/>
<font color="red">
<span id="bioVarning" class="help-char-remaining" style="font-family: Helvetica Neue;font-size:14px;"></span>
</font>
</div>-->
<div class="col-md-6 row"  align="center"	style="margin-top:-9%">
<a  class="btn btn-medium btn-primary" id="updateUser" aria-hidden="true" ><font style="font-family: Helvetica Neue;">Update</font></a>
<a  class="btn btn-medium btn-primary" id="cancelUser" aria-hidden="true" ><font style="font-family: Helvetica Neue;">Cancel</font></a>

</div>






</div>
</div>

<div id="chooseNotificationModel" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
<div class="modal-dialog">
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">Email Notifications</h4>
			</div>
			
<div class="modalBody" style="max-height:410px;">
	<div class="control-group" style="margin-left:10px;">

	<!-- <div><label>
<input id="welcomeMail" name="welcomeMailNotify" value="welcomeMail" checked disabled	type="checkbox" class="form-control fontStyle14"   />
<span id=""><strong style="display: block;font-weight: normal;line-height: 17px;margin: 0 0 0 28px;margin-top:-23px;">Welcome mail
 </strong> </span></label>
</div> -->

<div><label>
<input id="contactMail" name="contactMail" value="contactBasis"	type="checkbox"    />
New contacts add me
 </label>
</div>
	<div><label>
<input id="noteMail" name="noteMail" value="noteBasis"	type="checkbox"  />
Notes are shared with me
 </label>
</div>

<div><label>
<input id="memoMail" name="memoMail" value="memoBasis"	type="checkbox"   />
Memos are shared with me
</label>
</div>
<div><label>
<input id="eventMail" name="eventMail" value="eventBasis"	type="checkbox"    />
Events are shared with me
</label>
</div>




<div><label>
<input id="dueDateMail" name="dueDateMail" value="dueDateMail"	type="checkbox"   />
Due dates and reminders are approaching
</label>
</div>
<div><label>
<input id="crowdMail" name="crowdMail" value="crowdBasis"	type="checkbox"  />
Someone I follow adds a new Note to the Crowd
</label>
</div>


</div></div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="paddMailNotifyList" style="font-size:14px;">Save Settings</button>
				
			</div>
		
		
</div>
</div>
</div>
<!-- 
 -->
<script type="text/javascript">

	
	window.addEvent('domready', function(){
		$('#pdob').datetimepicker({
			weekStart: 0,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1,
			minView:2,
			maxView:4,
			format : 'M/d/yyyy'
		});
	});

function keypressnotallowed(event)
{
	return false;
}


$('a.deleteIcon').on('click',function(e){
    e.preventDefault();
    imageID = $(this).closest('.image')[0].id;
    //alert('Now deleting "'+imageID+'"');
    //alert($(this).closest('.image')[0].id)
    removePicture();
    /*$(this).closest('.image')
        .fadeTo(300,0,function(){
        	alert("remove");
            $(this)
                .animate({width:0},200,function(){
                	alert("remove");
                    $(this)
                        .remove();
                });
        });*/
});


</script>
<script src="js/models/createuser.js" type="text/javascript"></script> 
<script src="js/models/userProfile.js" type="text/javascript"></script> 
<style>
#container { overflow:auto; }
.image { width:100px;height:100px;float:left;position:relative; }
a.deleteIcon { display:none;position:absolute;top:0;right:0;width:10px;height:30px; }
.image:hover a.deleteIcon { display:block; }
</style>
