<style>
#inviteUsersRegister{
display:none;
}
</style>
<script>
$(document).ready(function() {
	
	
	$('#trailusers').attr('checked',true);
	$( "#dob" ).datepicker({
		changeMonth: true,
		changeYear: true,
		maxDate: new Date()
		});
	$('#premiumusers').click(function(){
			$('#inviteUsersRegister').attr('style','display:none');
			$('#inviteUsersRegister').attr('style','display:block');
			$('#inviteUsers').val('0');
	});
	$('#trailusers').click(function(){
		$('#inviteUsersRegister').attr('style','display:none');
	});	

});
</script>
<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
<form id="contact-form">

<!--<div  class="modal fontStyle" id="regmsgModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
	aria-labelledby="myModalLabel" aria-hidden="true"  >
<div class="modal-header">

<span id="regmsg-header-span"></span></div>
<div id="msg-modal-body" class="modal-body col-md-6" ><span
	id="regmodal-message" ></span></div>
<div class="modal-footer">

</div>
</div>

-->



<div id="regmsgModal" class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" style="position: relative;">
    <div class="modal-content">
<div class="modal-header">

<span id="regmsg-header-span"></span></div>
<div id="msg-modal-body" class="modal-body" ><span
	id="regmodal-message" ></span></div>
<div class="modalFooter">
				
			</div>
    </div>
  </div>
</div>





<div class="tabbable fontStyle14" >


<h3>Create a Musicnote Account</h3>

<div class="col-md-3" id="personalinfo">


<div class="form-group">

<font color="red">*</font>First Name <input	id="userfirstname" name="userfirstname" type="text"	class="form-control" required />
<div class="" id="userfirstnameDiv" style="display:none"></div> 
</div>
<div class="form-group">
<font color="red">*</font>Last Name <input 	id="userlastname" name="userlastname" type="text"	class="form-control" placeholder="" required />
<div class="" id="userlastnameDiv" style="display:none"></div>
</div>
<div class="form-group">
<font color="red">*</font>User Name<input id="fbusername" name="fbusername" type="text" 	class="form-control" required  onblur="javascript:validateUserName();" />
<div id="userDialog" title="Basic dialog" style="display:none">
<p><font color="red">Username already exist</font>
</div>
<div id="userValidateError" title="Basic dialog" style="display:none">
</div>
</div>

<div class="form-group">
<font color="red">*</font>Which best describes you<select id="role" 	class="form-control" ></select>
</div>
<div class="form-group">
<font color="red" id="manditorySelect" >*</font><font id="emailfontstyle">Email</font><input id="emailid" name="emailid" 	type="email" class="form-control" placeholder=""  onblur="javascript:validateEmail();" />
<!-- <font color="red" id="manditorySelect">*</font>Email <input id="emailid" name="emailid" 	type="email" class="form-control" placeholder=""  onblur="javascript:existsMail();" /> -->
<div id="dialog" title="Basic dialog" style="display:none">
<p><font color="red">Email already exist</font>
</div>
<div id="emailValidateError" title="Basic dialog" style="display:none">
</div>
 <div id="dialogempty" title="Basic dialog" style="display:none">
<p><font color="red">Field cannot be blank</font>
</div>
</div>
<div class="form-group">
<font color="red">*</font>Password
<input id="password" name="password" type="password"  maxlength="15" class="form-control" required onblur="javascript:validatePassword();"/> 
<div id="passValidateError" title="Basic dialog" style="display:none">
</div>
</div>
<div class="form-group">
<font color="red">*</font>Confirm Password 
<input 	id="confirmpassword" name="confirmpassword" type="password"	class="form-control"  required  onblur="javascript:confirmPassword();"/>
<div id="confirmDiv" title="Basic dialog" style="display:none">
<p><font color="red"> Password mismatch</font>
</div>
</div>
<div id="trailDiv" style="float:left;margin-right:5%;display:none;"><h4><input type="radio"  name="users" value="Trail-Start" id="trailusers"  ><a>&nbsp;&nbsp;Trial</a></input></h4></div>
<div id="premiumDiv" style="display:none;"><h4><input type="radio" name="users" value="Premium" id="premiumusers" ><a>&nbsp;&nbsp;Premium</a></input></h4></div>

<div class="form-group">
<font color="red">*</font> Primary Instrument<select id="instrument" 	class="form-control" ></select>
</div>
<div class="hidden form-group">
<font color="red">*</font>FacebookId<input 	id="facebookId" name="facebookId" type="text"	class="hidden form-control fontStyle" placeholder="" />
</div>
<div class="form-group">
<font color="red">*</font>Skill Level<select id="skillLevel" 	class="form-control" ></select>
</div>
<div class="form-group">
<font color="red">*</font> Favorite Genre<select id="favoriteMusic" 	class="form-control" ></select>
</div>
<div class="form-group">
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Security Question</font> <select id="securitySelect" required class="form-control">
<option value="0">Select any Security Question</option>

</select>
</div>
<div class="form-group">
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Answer</font> <input type="text" disabled="disabled" required id="securityBox" class="form-control securityRegBox"></input>
<div id="dialogempty1" title="Basic dialog" style="display:none">Field cannot be blank</div>
<div id="payForDiv" style="color:red;margin-top:5%;"></div>

</div>

<!--<div id="inviteUsersRegister" >-->
<!--<label for="spinner"><font color="red">*</font>Pay For</label>-->
<!--<input id="inviteUsers" name="value">-->
<!--</div>-->


<!--<div id="inviteUsersRegister" ><font color="red">*</font> Pay For<select id="inviteUsers" 	class="input-block-level fontStyle" >-->
<!---->
<!--<option value="single">Single</option>-->
<!--<option value="10">10</option>-->
<!--<option value="25">25</option>-->
<!--<option value="50">50</option>-->
<!--<option value="75">75</option>-->
<!--<option value="100">100</option>-->
<!--<option value="100+">100+</option>-->
<!--</select>-->
<!--</div>-->
<!--<div id="selectSingle" class="inviteUserSelect" style="display:none;color:red;" >You have to pay for 1 user</div>-->
<!--<div id="select10" class="inviteUserSelect" style="display:none;color:red;" >You have to pay for 10 users</div>-->
<!--<div id="select25" class="inviteUserSelect" style="display:none;color:red;" >You have to pay for 25 users</div>-->
<!--<div id="select50" class="inviteUserSelect" style="display:none;color:red;" >You have to pay for 50 users</div>-->
<!--<div id="select75" class="inviteUserSelect" style="display:none;color:red;" >You have to pay for 75 users</div>-->
<!--<div id="select100" class="inviteUserSelect" style="display:none;color:red;" >You have to pay for 100 users</div>-->
<!--<div id="selectUnlimited" class="inviteUserSelect" style="display:none;color:red;" >You have to pay for 100+ users</div>-->
<!--<b></>Security questions</b><br>
<font color="red">*</font>What is your pet's name?
<input id="securityQuestion1" name="Question1" type="text" 	class="input-block-level" required /> 
<font color="red">*</font>What was the last name of your favorite teacher? 
<input id="securityQuestion2" name="Question2" type="text" 	class="input-block-level" required /> 
<font color="red">*</font>What is your favorite sport?
<input id="securityQuestion3" name="Question3" type="text" 	class="input-block-level" required /> 
-->
<div class="form-group">
 <div class="checkbox"><label>
<input id="notificationMail" name="notificationList" value="notificationList" checked disabled  type="checkbox"    />
I may recieve communications from musicnote and can change my <a id="mailNotificationLists"><span id="mailNotificationList">notification</span></a> preferences in musicnote
</label>
</div>
</div>


<div class="form-group">

<div class="checkbox"><label> <input id="agreeterms"
	name="terms&condition" type="checkbox" onClick="checkterms();" />I
agree to the musicnote <a href="useragreement.html" target="_blank">Terms
of Service</a> and <a href="privacyPolicy.html" target="_blank">Privacy
Policy</a> </label></div>
</div>
<div class="form-group">

<div id="termsdecline" title="Basic dialog"
	style="display: none; font-weight: normal; line-height: 17px; margin: 0 0 0 28px; margin-top: 5px;">
<p><font color="red">In order to use our services, you must
agree to Musicnote's Terms of Service.</font></p>
</div>
</div>
<!--<div class="checkbox"><label>
<input id="agreeterms" name="terms&condition" 	type="checkbox" class="form-control"   onClick="checkterms();"/>
<span id=""><strong style="display: block;font-weight: normal;line-height: 17px;margin: 0 0 0 28px;margin-top:-23px;">I agree to the musicnote
 <a href="useragreement.html" target="_blank">Terms of Service</a> and <a href="privacyPolicy.html" target="_blank">Privacy Policy</a></strong>
 </span>
</label>
</div>

--><div class="col-md-10" id="createUserDiv">
<button  class="btn btn-medium btn-primary" id="createUser" aria-hidden="true" font style="font-family: Helvetica Neue;font-size:14px;"type="submit" >Register</button>
<a href="#cancel"  class="btn btn-medium btn-primary" aria-hidden="true" id="cancel" font style="font-family: Helvetica Neue;font-size:14px;">Cancel</a>
</div>

</div>




 
</div>

<!--<div class="span3" id="personalinfo2">
<font color="red">*</font>Address 1<input id="address" type="text"	name="address" class="input-block-level" required/>
 Address 2<input id="address1" 	type="text" name="address1" class="input-block-level"/>
 <font color="red">*</font>City<input id="city" type="text"	name="city" class="input-block-level" required/>
 
<font color="red">*</font>State<input id="state" 	type="text" name="state" class="input-block-level" required/>


<font color="red">*</font>PinCode
<input id="pincode" 	type="text" name="pincode" class="input-block-level" maxlength="6" required onblur="javascript:numberValidation();"/>
<div id="pincodeDiv" title="Basic dialog" style="display:none">
<p><font color="red">Must be a number</font>
</div>
<font color="red">*</font>Country<input id="country" 	type="text" name="country" class="input-block-level" required/>






</div>
-->


<div class="col-md-1" id="personalinfo2">

</div>
<div class="col-md-7" id="personalinfo1">

<BR></BR>
<BR></BR>
<b>Save, share and access all of your music resources from the cloud</b>
<BR></BR>
<B>Save everything together</B><label>Create notes of lessons, recordings, videos, sheet music, songs and more.</label>

<BR></BR>
<B>Access anywhere, anytime</B><label>Your notes are available on your computer, phone or tablet.</label>
<BR></BR>
<B>Share with ease</B><label>Collaborate on notes with individuals or groups.</label>
<BR></BR>
<BR></BR>
<BR></BR>

 




</div>

<!--
<font color="red">*</font>DOB <input id="rdob" 	name="rdob" type="text" class="input-block-level"  placeholder="Birth Date" onkeypress="return keypressnotallowed(event)" required />

<font color="red">*</font>Enable Notification
<br/><input type="radio" name="notificationFlag" id="notificationYesFlag" value="yes" checked="checked"/> Yes
<input type="radio" name="notificationFlag" id="notificationNoFlag" value="no"/> No
<br/><br/>
--><!-- <font color="red">*</font>Disable Confirmation to sharing in Crowd
<br/><input type="radio" name="crowdnotificationFlag" id="crowdnotificationYesFlag" value="True" checked="checked"/> Yes
<input type="radio" name="crowdnotificationFlag" id="crowdnotificationNoFlag" value="False"/> No -->



 </form>
<div title="Confirmation" id="id3" style="display: none;">
<p>Click ok to confirm your account with <label id="UserEmail" ></label>else cancel to continue registration page.
<p></p>
</div>


<!--<div id="chooseNotificationModel" class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: absolute; ">
 <div class="modal-dialog">
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">Email Notifications</h4>
			</div>
			
<div class="modalBody" style="max-height:410px;">
<div class="control-group" style="margin-left:10px;">



</div>


	</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="addMailNotifyList" style="font-size:14px;">Save Settings</button>
				
			</div>
		
		

</div>
</div>
</div>




-->



<div id="chooseNotificationModel" class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" style="height: 300px; width: 350px;">
    <div class="modal-content">
<div class="modal-header">
<button type="button" class="close js-modal-close" data-dismiss="modal"
	aria-hidden="true" id="closeModel">&times;</button>
<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">Email
Notifications</h4>
</div>
<div class="modal-body">


<div><label> <input id="welcomeMail"
	name="welcomeMailNotify" value="welcomeMail" checked disabled
	type="checkbox" /> Welcome mail </label></div>

<div><label> <input id="contactMail" name="contactMail"
	value="contactBasis" type="checkbox" /> New contacts add me </label></div>
<div><label> <input id="noteMail" name="noteMail"
	value="noteBasis" type="checkbox" /> Notes are shared with me </label></div>
<div><label> <input id="memoMail" name="memoMail"
	value="memoBasis" type="checkbox" /> Memos are shared with me </label></div>
<div><label> <input id="eventMail" name="eventMail"
	value="eventBasis" type="checkbox" /> Events are shared with me </label></div>



<div style="display: none"><label> <input id="sharedNote"
	name="sharedNote" value="sharedNote" type="checkbox" /> Changes are
made to a shared Note </label></div>

<div style="display: none"><label> <input id="sharedEvent"
	name="sharedEvent" value="sharedEvent" type="checkbox" /> Changes
are made to a shared Event </label></div>

<div style="display: none"><label> <input id="sharedMemo"
	name="sharedMemo" value="sharedMemo" type="checkbox" /> Changes are
made to a shared Memo </label></div>


<div><label> <input id="dueDateMail" name="dueDateMail"
	value="dueDateMail" type="checkbox" /> Due dates and reminders are
approaching </label></div>


<div style="display: none"><label> <input
	id="commentsNote" name="commentsNote" value="commentsNote"
	type="checkbox" /> Comments are added to a shared Note </label></div>


<div style="display: none"><label> <input
	id="commentsMemo" name="commentsMemo" value="commentsMemo"
	type="checkbox" /> Comments are added to a shared Memo </label></div>

<div><label> <input id="crowdMail" name="crowdMail"
	value="crowdBasis" type="checkbox" /> Someone I follow adds a new
Note to the Crowd </label></div>
</div>
<div class="modalFooter">
				<button class="modalBtn fontStyle" id="addMailNotifyList" style="font-size:14px;">Save Settings</button>
				
			</div>
    </div>
  </div>
</div>
















<!-- 
 -->
<script type="text/javascript">

$(document).ready( function() {
	

	
	$('#inviteUsers').change(function(){
		var value=$('#inviteUsers').val();
		if(value=='10'){
		$('.inviteUserSelect').attr('style','display:none;');
		$('#select10').attr("style","display:block;color:red;");
		}else if(value=='25'){
		$('.inviteUserSelect').attr('style','display:none;');
		$('#select25').attr("style","display:block;color:red;");
		}else if(value=='50'){
		$('.inviteUserSelect').attr('style','display:none;');
		$('#select50').attr("style","display:block;color:red;");
		}else if(value=='75'){
		$('.inviteUserSelect').attr('style','display:none;');
		$('#select75').attr("style","display:block;color:red;");
		}else if(value=='100'){
		$('.inviteUserSelect').attr('style','display:none;');
		$('#select100').attr("style","display:block;color:red;");
		}else if(value=='100+'){
		$('.inviteUserSelect').attr('style','display:none;');
		$('#selectUnlimited').attr("style","display:block;color:red;");
		}else if(value=='single'){
		$('.inviteUserSelect').attr('style','display:none;');
		$('#selectSingle').attr("style","display:block;color:red;");
		}
	});
});
$(document).ready( function() {

	
	window.addEvent('domready', function(){
		$('#rdob').datetimepicker({
			weekStart: 0,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1,
			minView:2,
			maxView:4,
			format : 'M/d/yyyy'
		});
	});
});
function keypressnotallowed(event)
{
	return false;
}
</script>
<script src="js/models/createuser.js" type="text/javascript"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<link rel="stylesheet" href="css/jquery-ui.css">
<script src="js/jquery.mousewheel.js"></script>
<script src="js/jquery-ui-1.10.4.custom.js"></script>

