<div id="frontdiv">
<div class="sideBar" id="sideBarMenu" style="margin-top:20px;">
	<div class="webside sideBarBox sideBarNotes"><a class="notes fontStyle15" id="music" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" title="This is where all of your musicnotes and notebooks are created, saved and shared.">Notes</a></div>
	<div class="webside sideBarBox sideBarMenuSchedule"><a class="notes fontStyle15" id="schedule" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" title="This is where all of your scheduling notes and notebooks are created, saved and shared.">Schedule</a></div>
	<div class="webside sideBarBox sideBarMemos"><a class="notes fontStyle15" id="bill" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" title="This is where non-music related notes and notebooks, like messages, are created, saved and shared.">Memos</a></div> 
	<div class="webside sideBarBox sideBarContact"><a class="students fontStyle15" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" title="Contacts" id="Contacts">Contacts</a></div>
	<div class="webside sideBarBox sideBarRecord"><a class="recordLesson fontStyle15" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" id="Record" title="This is where you can record audio or video of yourself and upload files to Musicnote.">Record</a></div>
	<div class="webside sideBarBox sideBarCrowd"><a class="crowdSide fontStyle15" id="all" style="text-decoration: none;font-weight:bold; color: black;" href="javascript:void(0);" title="The Musicnote Crowd is the place where you can discover music notes shared by all Musicnote members. You can even share your own notes that you think would help other music students, teachers or musicians master their craft.">Crowd</a></div>
</div>
<div id="tempTablke" class="sideBarSchedule">
	<!-- <div style="border: 1px solid #e5e5e5; padding-right: 10px;">
	<table id="todaySchedules"></table>
	</div>  -->
</div>
<div class="modal hide fade" id="msgNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 100px;" >
		<div class="modal-header">
			<span id="msg-header-span-modal" >info!</span>
		</div>
		<div id="msg-modal-body-modal" class="modal-body span3" >
			<span id="modal-message-modal"  >Loading.....!</span>
		</div>
<div class="modal hide fade" id="msgLoadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 100px;" >
		<div class="modal-header">
			<span id="msg-header-span-modal" >Loading</span>
		</div>
		<div id="msg-modal-body-modal" class="modal-body span8">
			<span id="modal-message-modal"  >Please wait.This may take a moment.....</span>
		</div>
	</div>
</div>
</div>
<style>
.webside:hover{
	background-color:rgb(164,164,164);
}

<script>
$('.webside').click(function(){
	alert("webside--->");
	$('.webside').css({"background-color":""});
	$(this).css({"background-color":"linear-gradient(to bottom, #2887BD 0%, #1F6993 100%) repeat scroll 0 0 transparent"});	

});

</script>

</style>
<script src="js/collection/todayschedulecollection.js"></script>
