<div style="background-color: #DDDDDD;margin-right:-30px;margin-top:15px;" id="mainDiv">
<div  class="backGroundColor container-fluid" style=" min-height:490px; max-height: auto;padding-left:0px;padding-right: 0px;margin-top:15px;" id="groupMemberContainer">

    	<div class="row paddingTopStyle" id="test" style="margin-left: 0px;margin-bottom:10px;" >
    	<div class="col-md-4">
    	<div class="input-prepend span12">
<span class="add-on"><span class="glyphicon glyphicon-search"></span></span>
<input class="form-control search-query col-md-9" data-provide="typeahead" id="searchUser" style="border-radius:15px;height:30px;margin-top:-30px;margin-left:27px" type="text" placeholder="Search">
</div>

</div>

<div class="col-md-2">
     <div class="btn-group span12" id="groupdropdown"> 
    <a class="btn btn-default" id="fetchgroup" style="font-family: Helvetica Neue;"><span class="glyphicon glyphicon-user"></span> Group </a>
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
    <ul class="dropdown-menu" id="groupUl">
   

    </ul>
    </div></div>

<div class="col-md-3">
<button class="btn btn-default span6" type="button" id="inviteUserId" style="text-decoration: none;font-family: Helvetica Neue; font-weight: 100; border-radius: 7px 7px 7px 7px;" ><span class="glyphicon glyphicon-plus"></span> Invite Users </button>
</div>
<div class="span3">
<button class="btn btn-default span6" type="button" id="addUsers" style="text-decoration: none;font-family: Helvetica Neue; font-weight: 100; border-radius: 7px 7px 7px 7px; display:none" ><span class="glyphicon glyphicon-plus"></span> Add Users </button>
</div>
</div>

<div id="inviteUserModel" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 style="font-family: Helvetica Neue;">Invite others to join Musicnote</h4>
			</div>
			<div class="modal-body" style="height:100px;">
			
						<div class="controls input-append" >
						<input class="form-control" type="text" placeholder="Enter Email" style="font-family: Helvetica Neue; width:200px;" id="inviteEmailId">
						
                		</div>
			            <div class="" id="inviteEmailIdDiv" style="display:none"></div> 
			            <div class="" id="inviteInvalidEmailIdDiv" style="display:none"></div>
			            <div style="text-align:center;">
			            	<div id="trailpremiumDiv" style="float:left"></div>
  							<div id="userdateselectDiv"></div>
  						</div>
			            <div id="InvitedUsers"> </div>
				
				
			</div>
			<div class="modal-footer">
				<a id="saveInviteUser" class="btn btn-success fontStyle" >Submit</a>
				<a id="cancelInviteUser" class="btn btn-danger fontStyle">Cancel</a>
			</div>
		</div>
		</div>
		</div>
		
    	<!-- Create group  Modal - starts -->
    	
    	
    	<div id="createGroupModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
    	<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel" style="font-family: Helvetica Neue;">Add Group</h3>
			</div>
			<form id="add-Group-form" style=" margin: 0;">
			<div class="modalBody">
				<div class="form-group">
				
				
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Name</label> 
					<div class="controls">
						<input type="text" class="form-control modalName" style="font-family: Helvetica Neue;width:50%" id="groupName" placeholder="Group Name" required />
					</div>
					<div class="" id="errormsg"></div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="addGroup">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelModel" data-dismiss="modal" >Cancel</button>
			</div>
			 </form>   
		</div>
		</div>
		</div>
		
		<!-- create group  Modal - ends -->
		
		<!-- Add users Modal - starts -->
    	
    	
    	<div id="addUsersModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
    	<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel" style="font-family: Helvetica Neue;">Add Users</h3>
			</div>
			<!-- <form id="add-User-form" style=" margin: 0;"> -->
			<div class="modalBody">
				<div class="form-group">
				
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">User Name</label> 
					<div class="controls">
						<input type="text" class="form-control modalName" style="font-family: Helvetica Neue;width:50%;margin-bottom:10px;" id="addUserNames" placeholder="Enter User Name" required onblur="javascript:validateUserName();" />
					
					
					<!--<div id="userDialog" style="display : block" title="Basic dialog">
						<p>
							<font color="red">User Name already exist</font>
						</p></div>
						<div id="userDialog1" style="display : block" title="Basic dialog">
						<p>
							<font color="red">Email already exist</font>
						</p></div>
					-->
					<span id="userDialog" style="font-family: Helvetica Neue;font-size:14px;display:none" title="Basic dialog"><font color="red"></font></span>
					<label class="control-label" for="password" style="font-family: Helvetica Neue;">Password</label> 
					<div class="controls">
						<input type="password"  maxlength="15" class="form-control modalName" style="font-family: Helvetica Neue;width:50%" id="addPassword" placeholder="Enter Password" required onblur="javascript:validatePassword();"/>
					</div></div><span id="Dialog" style="font-family: Helvetica Neue;font-size:14px;display:none" title="Basic dialog"><font color="red"></font></span>
					 </br><div id="AddUsersGrid"> </div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="addUser">Add</button>
				<button class="btn btn-danger fontStyle " id="cancelUser" data-dismiss="modal" >Cancel</button>
			</div>
			 <!-- </form>   --> 
		</div>
		</div>
		</div>
		
		<!-- add users  Modal - ends -->
		<!-- update group  Modal - starts -->
    	
    	
    	<div id="updateGroupModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
    	<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel" style="font-family: Helvetica Neue;">Update Group</h3>
			</div>
			<div class="modalBody">
				<div class="form-group">
				<div class="" id="updateerrormsg"></div>
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">Name</label>
					<div class="controls">
						<input type="text" class="form-control modalName" style="font-family: Helvetica Neue;width:50%" id="updategroupName" placeholder="Name">
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="editGroup">Update</button>
				<button class="modalBtnPrimary fontStyle" id="updateCancelModel" data-dismiss="modal" >Cancel</button>
			</div>
		</div>
		</div>
		</div>
		
		<!-- Update group  Modal - ends -->
    	
		<!-- delete group  Modal - starts -->
    	    	
    	<div id="deleteGroupModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    	<div class="modal-dialog"  >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				
				<h4 class="alert-heading" style="font-family: Helvetica Neue;">Are you sure you want to delete this group?</h4>
               <p style="font-family: Helvetica Neue;"> all members will be removed from this group</p>
            <p>
              <a  class="btn btn-danger fontStyle" id="deleteGroup" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default fontStyle" data-dismiss="modal">Cancel</a>
            </p>
            </div>
            </div>
			</div>
			
			
		</div>
		<!-- delete group  Modal - ends -->	
		
		<!-- Group member select container -->
	<!-- 	<div id="" style="padding-top : 10px;"></div> -->
		 
		<!--<a href="#" class="btn btn-info" id="fetchGroupMembers" >Get Members</a>-->
		
		</div>
		<!-- Group member select container ends-->
				
</div>
<script src="js/function/groupView.js" type="text/javascript"></script>
<script src="js/function/studentsview.js" type="text/javascript"></script>
<script src="js/function/searchUsers.js" type="text/javascript"></script>