body {
	font: 14px "Helvetica Neue";
	padding:20px;
}
a {
	text-decoration:none;
	color:#3C769D;
}
h1 a,
p em a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}
h1 a {
	width:700px;
	height:200px;
	background:transparent url(markitup.png) no-repeat center center;
}
p em a {
	background:transparent url(jaysalvat.png) no-repeat 10% 50%;
	width:120px; height:28px;
	left:30px;
	position:absolute;
	top:0px; 
}


.on {
		
 	background: linear-gradient(to bottom, #24a828 0%, #1b7e1e 100%) repeat scroll 0 0 transparent;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 12px;
    line-height: 4px;
    margin: -9px -6px;
    padding: 4px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 13px;
}

.member {
    -moz-user-select: none;
    background-color: #CCCCCC;
    border: 1px solid #B9B9B9;
    border-radius: 3px 3px 3px 3px;
    color: #444444;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    left : -10px;
    margin: 0 1px 1px 0;
    overflow: hidden;
    top: 5px;
    position: relative;
    text-decoration: none;
    width: 30px;
    cursor: pointer;
    -moz-user-select: none;
    z-index: 0;
}
.phenom {
    border-bottom: 1px solid #DCDCDC;
    min-height: 30px;
    padding: 8px 0 8px 40px;
    position: relative;
}

.phenom .member.creator {
    border-color: #B9B9B9;
}
.phenom .creator {
    border: 1px solid transparent;
    height: 30px;
    left: 8px;
    position: absolute;
    top: 10px;
    width: 30px;
}

.member .member-initials {
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

