#new-note{
	position: relative;
    left: 3.7%;
	top: -1px;
	margin-left:1%;
}	   

#addNote{
	background-color: #2887BD;
	border-radius: 7px 7px 7px 7px;
	color:white;
}
#addBook{
	position: relative;
	left: 5.7%;
    font-family: Helvetica Neue;
	background-color: #2887BD;
    border-radius: 7px 7px 7px 7px;
	color:white;
}

#addEvent{
	text-decoration: none;
	 font-weight: 100;
	  border-radius: 7px 7px 7px 7px;
	  color:white;
	 
}
#new-event{
	position: relative;
	 left: 40px;
	  top: -5px;
	   margin-left:1%;
	}
#newEventBook{
	text-decoration: none; 
	font-weight: 100;
	 border-radius: 7px 7px 7px 7px;
	 color:white;
	}
	
#new-event-book{
	position: relative;
	left:15px;
	 top: -5px;
	  margin-left:1%;
	}	
	#notebookId{
	display: inline-block;
	font-family: Helvetica Neue;
	margin-left:2%;
	}	

@media ( min-width :481px) and (max-width:766px){
	#addBook{
	margin-left:50px;
	margin-top:-30px;
	}
	#new-event{
	width:70px;
	margin-left:-40px;
	}
	#new-event-book{
	width:90px;
	margin-left:80px;
	margin-top:-35px;
	}
	
}
@media ( max-width :480px) {
	#addBook{
	margin-left:115px;
	margin-top:-30px;
	margin-bottom:5px;
	}
	#notebookcombo{
	margin-left:0px;
	margin-top:0px;
	}
	#new-event{
	width:70px;
	margin-left:-40px;
	}
	#new-event-book{
	width:90px;
	margin-top:-35px;
	margin-left:80px;
	}
}
@media ( min-width :768px) and (max-width:979px) {
	
	#new-note{
	width:190px;
	font-size:12px;
	}	
	#addNote{
	font-size:12px;
	}
	#addBook{
	font-size:12px;
	}	
	#addEvent{
	margin-left:-15px;
	font-size:12px;
	}
	#newEventBook{
	margin-left:-14px;
	width:auto;
	font-size:12px;
	}

}
@media ( min-width :980px) and (max-width:1199px){
	#addBook{
	width:auto;
	}
}
