.dropdown-menu {
	max-height: 400px;
	overflow-y: scroll;
	width: 220px;
}

.list-item {
	padding-top: 6px;
	padding-left: 56px;
}
#gview_todaySchedules{font-family: Helvetica Neue;font-size:14px;}
.no-reports {
	display: none;
}

.box {
	padding: 10px;
	font-size: 12px;
	border-radius: 2px;
	background: #f3f3f3;
	color: #4f6f95;
	border: 1px solid #e5e5e5;
	min-width: 60px;
	max-width: 100%;
}

.sideBarBox {
	margin-bottom: 5px;
	padding: 5px;
	font-size: 15px;
	font-family :Helvetica Neue;
	background: #f3f3f3;
	color: #4f6f95;
	
	min-width: 60px;
	max-width: 100%;
}

.sideBar {
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #f3f5f7;
}

.sideBarSchedule {
	background-color: #f3f5f7;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	min-height: 230px;
}

.mainBody {
	background-color: #EAEDEF;
	padding-right: 0px;
	padding-left: 0px;
	max-height: auto;
	border-bottom-color: #00BFFF;
}

.headerBody {
	background-color: #404040;
	padding-right: 0px;
	border-radius: 0px 0px 0px 0px;
	margin-bottom: 0px;
}

.footerBody {
	background-color: #DDDDDD;
	border-radius: 0px 0px 6px 6px;
	padding-bottom: 10px;
	padding-right: 6px;
}

.homeView {
	margin-right: -30px;
	padding-left: 6px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	background-color: #EAEDEF;
	max-height: auto;
}

.colorDiv {
	height: 2px;
	background-color: #00BFFF;
}

.paddingLeftStyle {
	padding-left: 6px;
}

.paddingTopStyle {
	padding-top: 6px;
}

.paddingBottomStyle {
	padding-bottom: 6px;
}

.paddingRightStyle {
	padding-right: 6px;
}

.divSpace {
	padding: 0px;
	margin: -8px;
}

.borderRadiusSideBar {
	border-radius: 0px 6px 6px 0px;
}

.borderRadius {
	border-radius: 6px 6px 6px 6px;
}

.divBorderRadius {
	border-radius: 4px 4px 4px 4px;
}

.backGroundColor {
	background-color: #EAEDEF;
}

.searchOption {
	padding: 4px 9px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
	color: #626262;
	border: 1px solid #dddddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px
		rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px
		rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px
		rgba(255, 255, 255, 0.15);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	border-radius: 20px 20px 20px 20px;
}

.notesDiv {
	min-height: 215px;
	padding-top: 6px;
	padding-left: 6px;
}

.notesListDiv {
	min-height: 100px;
	max-height: 150px;
	overflow: auto;
}

.recentActivityDiv {
	overflow: auto;
	padding-left: 6px;
}

.datePickerOutput {
	padding-top: 10px;
	min-height: 120px;
	max-height: 120px;
	overflow: auto;
}

.suggestedDiv {
	border: 1px solid #545454;
	min-height: 100px;
	max-height: 100px;
	width: 250px;
	overflow: auto;
	padding-left: 6px;
	border-radius: 4px 4px 4px 4px;
}

div.enter_todo {
	margin: 20px 50px;
	padding: 7px 20px;
	height: 25px;
	width: 560px;
	background: #eee;
	border: 1px solid #aaa;
}

div.todo_list>div.todo {
	background: #e4e4e4;
	min-height: 25px;
	padding-top: 2px;
	margin-top: 1px;
	border-radius: 10px 10px 10px 10px;
}

div.todo_list>div.todo>div {
	float: left;
}


div.todo_list>div.todo>div.todo_descriptions {
	margin-left: 5px;
	border-width: 1px;
	border-style: solid;
	 border-color: block;
}

div.todo_list>div.todo>div.todo_description {
	margin-left: 5px;
}

div.todo_list>div.checked {
	text-decoration: line-through;
	background: #eee;
}

#backgroundPopup {
	z-index: 1;
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	background: #000000;
	top: 0px;
	left: 0px;
}

body .modal-add {
	width: 30%; /* desired relative width */
}

.caret-custom {
	opacity: 10;
}

.list-footer {
	border-radius: 0 0 3px 3px;
	color: #939393;
	display: block;
	margin: 27px -8px -3px;
	padding: 7px 10px;
	position: relative;
	text-decoration: none;
}

.modalHeader {
	border-bottom: 1px solid #EEEEEE;
	padding: 9px 15px;
}

.modalBody {
	max-height: 200px;
	overflow-y: auto;
	padding: 5px;
}

.modalFooter {
	background-color: #F5F5F5;
	border-top: 1px solid #DDDDDD;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	margin-bottom: 0;
	padding: 4px 5px 5px;
	text-align: right;
}

.myModalDiv {
	width: 280px;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
}
.myNoteModalDiv {
	width: 340px;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
}

.moveAllNotesDiv {
	min-width: 200px;
	max-width: auto;
	min-height: 160px;
	max-height: auto;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
}

.moveNotesDiv {
	min-width: 200px;
	max-width: auto;
	min-height: 160px;
	max-height: auto;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
}

.modalBtnPrimary {
	display: inline-block; *
	display: inline;
	/* IE7 inline-block hack */ *
	zoom: 1;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ffffff', endColorstr = '#e6e6e6', GradientType = 0 );
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid : dximagetransform.microsoft.gradient ( enabled = false )
		;
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer; *
	margin-left: .3em;
}

.modalBtn {
	display: inline-block; *
	display: inline;
	/* IE7 inline-block hack */ *
	zoom: 1;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ffffff', endColorstr = '#e6e6e6', GradientType = 0 );
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid : dximagetransform.microsoft.gradient ( enabled = false )
		;
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer; *
	margin-left: .3em;
	background-color: #0074cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0055cc) );
	background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
	background-image: -o-linear-gradient(top, #0088cc, #0055cc);
	background-image: linear-gradient(top, #0088cc, #0055cc);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#0088cc', endColorstr = '#0055cc', GradientType = 0 );
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid : dximagetransform.microsoft.gradient ( enabled = false )
		;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

.modalHeaderClose {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity = 20);
}

.modalName {
	
}

.listDiv {
	background-color: white;
	min-height: 90px;
	margin: 1px;
	position: relative;
	padding-top: 6px;
	padding-left: 6px;
}

.studentDiv {
	background-color: white;
	border-radius: 6px 6px 6px 6px;
	min-height: 90px;
}

.js-composer {
	
}

.js-card-title {
	
}

.js-add-card {
	
}

.js-cancel {
	
}

.js-footer {
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	margin-bottom: 0;
	padding: 4px 5px 5px;
	text-align: left;
}

.headerListName {
	
}

.js-move-notes {
	
}

.js-archive-notes {
	
}

.moveSelectListName {
	
}

.moveSelectNoteName {
	
}

.listBodyAll {
	max-height: 350px;
	overflow-y: auto;
	padding: 5px;
	padding-bottom: 6px;
}

.noteDiv {
	padding: 6px;
	min-height: 18px;
}

.notes {
	font-size: small;
}

.reminders {
	
}

.messages {
	
}

.recordLesson {
	font-size: small;
}

.invoice {
	
}

.students {
	font-size: small;
}

.calendar {
	
}

}
.well1 {
	min-height: 20px;
	min-width: 35px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.input-xlarge1 {
	width: 160px;
}

.input-xlarge2 {
	width: 200px;
}

.input-xlarge3 {
	width: 50px;
}

.deleteInboxMail {
	
}

.groupIconEdit {
	
}

.groupIconDelete {
	
}

.createGroup {
	
}

.userGroup {
	
}

.userSelectedGroup {
	
}

.grouphref {
	
}

.input-small1 {
	width: 30px;
}

.createUser {
	
}

.datePicker {
	
}

.selectedUser {
	
}

.responseUser {
	
}

.responseSelectedUser {
	
}

.requestClasses {
	
}

.requestDecline {
	
}

.loginPasswd {
	
}

.followUser {
	
}

.unFollowUser {
	
}

.schedule-footer {
	
}

.form_datetime {
	
}

.crowd {
	font-size: small;
}

.arrow.up {
	background-image: url("img/images.jpg");
	background-position: -16px -616px;
	background-repeat: no-repeat;
}

.arrow.down {
	background-image: url("/musicnotess/WebContent/img/images.jpg");
	background-position: -102px -599px;
	background-repeat: no-repeat;
}

#viewNoteDiv {
	border: 2px solid #a1a1a1;
	padding: 10px 40px;
	background: #dddddd;
	width: 240px;
}

#fetchNoteDiv {
	border: 1px solid #dddddd;
	border-radius: 4px 4px 4px 4px;
	padding: 6px;
	padding-bottom: 1px;
	min-height: 18px;
}

.homeHeader{
    background-color:  #dddddd;
    border-radius: 6px 6px 6px 6px;
    
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 60px;
}
.homePaddingTopStyle{
	padding-top: 15px;
}
.selectTeacher{
    border-radius: 8px 8px 8px 8px;
}
.homeBackGroundColor {
	background-color:  #dddddd;	
	border-radius: 10px 10px 10px 10px;
}

.listDivs {
    background-color:white;
	min-height: 90px;
	margin: 2px;
	position: relative;
	border-radius: 6px 6px 6px 6px;
	padding-top: 6px;
	padding-left: 6px;
}

.selectNotes {
}
.selectDueDate{
}
.selectTagBook{
}
.userGroupMenuFetch{
}

.crowd {
	/* max-height: 350px; */
	/* overflow-y: auto; */
	/* padding: 5px; */
	padding-bottom: 6px;
}
.crowdSide{
	font-size: small;
	max-height: 350px;
	overflow-y: auto;
}
.headerMenu{
}
.from_datetime_auto{
}
.end_datetime{
}

.end_date{
}

.sideBarNotes{
}
.sideBarMenuSchedule{
}
.sideBarMemos{
}
.sideBarContact{
}
.sideBarCrowd{
}
.sideBarRecord{
}
.allGroup{
}
.recentP{
}
.newBook
{
}
.own-note-add-btn{
	background-color: #2887BD;
    background-image: linear-gradient(to bottom, #2887BD, #2887BD);
    background-repeat: repeat-x;
    color: white;
}
.uiHeaderBottomBorder {
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 0.5em;
}
.jewelHeader {
    border-bottom: 1px solid rgba(100, 100, 100, 0.22);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: helvetica neue;
    padding: 0 11px;
    z-index: 1040;
}

.white {
    color: #fff;
}

.fontStyle{
	font-family:helvetica neue;
}
.fontStyle14{
	font-family:helvetica neue;
	font-size:14px;
}
.fontStyle15{
	font-family:helvetica neue;
	font-size:15px;
}
.welcomeMsgCss{
	text-align: center;
}

@media (max-width:980px){
	.headerAlign{
	margin-top:-40px;
	}
	
	
}	
